%section.primary
  %h2 Admin Dashboard

  %nav#admin
    %ul
      %li=link_to "New Blog Post", :new_post
      %li=link_to "edit my profile", "edit_my_profile"
      %li=link_to "New Idea", :new_idea
