#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{action: "http://coshx.us3.list-manage.com/subscribe/post?u=76707ecf6e2096bf2d07f7bd3&id=940555cef1", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
    %input#mce-EMAIL.email{name: "EMAIL", placeholder: "your email address here...", required: "", type: "email", value: ""}
    %div{style: "position: absolute; left: -5000px;"}
      %input{name: "b_76707ecf6e2096bf2d07f7bd3_940555cef1", type: "text", value: ""}
    .clear
    %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "GO"}