


.row
  .six.columns.push-six
    -if Coshx::Application.assets.find_asset("team/#{folk.slug}.png").nil?
      =image_tag("team/no_pic.png")
    -else
      =image_tag("team/#{folk.slug}.png")

  .six.columns.pull-six
    .content
      .folk_header{editable("nickname of " + folk.name)}
        =content("nickname of " + folk.name)
      %h1=folk.name
      %p.folk_bio=folk.bio.html_safe
      
.folk_wrap
  -if folk.github
    %a.github{:href => "http://github.com/#{folk.github}"}=folk.github
  -if folk.likes
    .folk_header LIKES
    %span=folk.likes
  -if folk.dislikes    
    .folk_header DISLIKES
    %span=folk.dislikes  
  -if folk.twitter
    .folk_header TWITTER
    %span=folk.twitter
  





