


.row
  .five.columns.push-six
    -if Coshx::Application.assets.find_asset("team/#{folk.slug}.png").nil?
      =image_tag("team/no_pic.png")
    -else
      =image_tag("team/#{folk.slug}.png")

  .six.columns.pull-six
    .content
      .folk_header=folk.nickname
      %h1=folk.name
      %p.folk_bio=folk.bio.html_safe
      
.folk_wrap
  -if folk.likes
    .folk_header LIKES
    %span=folk.likes
  -if folk.dislikes    
    .folk_header DISLIKES
    %span=folk.dislikes  
  -if folk.github
    .folk_header GITHUB
    %span=folk.github
  -if folk.twitter
    .folk_header TWITTER
    %span=folk.twitter
  





