.row
  .six.columns
    %h5 CHARLOTTESVILLE
    %p.graytext Our castle in Virginia
    %a{:target => '_blank', :href => "https://maps.google.com/maps?q=1110+Market+Street+East+Suite+N7,+Charlottesville,+VA+22902&hl=en&sll=37.269174,-119.306607&sspn=10.276355,19.753418&hnear=1110+Market+St+E,+Charlottesville,+Virginia+22902&t=m&z=16"}
      =image_tag("map_left.png")
    %p.graytext 1110 Market Street East Suite N7, Charlottesville, VA 22902
      
  .six.columns
    %h5 BOULDER
    %p.graytext Our temple in Colorado
    %a{:target => '_blank', :href => "https://maps.google.com/maps?q=3080+Valmont+Road+suite+280,+Boulder,+CO+80301&hl=en&ll=40.019201,-105.218468&spn=0.154601,0.308647&sll=37.405074,-82.617187&sspn=20.479689,39.506836&hnear=3080+Valmont+Rd+%23280,+Boulder,+Colorado+80301&t=m&z=12"}
      =image_tag("map_right.png")
    %p.graytext 3080 Valmont Road suite 280, Boulder, CO 80301
.row
  .six.columns
    %h5 SAN FRANCISCO
    %p.graytext Our residence in San Francisco
    %a{:target => '_blank', :href => "https://maps.google.com/maps?q=1211+Folsom+Street,+San+Francisco,+CA&hl=en&ll=37.774497,-122.409346&spn=0.009176,0.01929&sll=37.780968,-122.395597&sspn=0.120207,0.264187&oq=1211+folsom+street&hnear=1211+Folsom+St,+San+Francisco,+California+94103&t=m&view=map&z=16"}
      =image_tag("map_sf.png")
    %p.graytext 1211 Folsom Street, 3rd Floor, San Francisco, CA 94103
