#social-like-links.like
	.fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/CoshxLabs", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
	%a.twitter-share-button{href: "https://twitter.com/share"} Tweet