%div#tagline
	.row
		%h3 Your bicycle shopping gets easier!
		#project-screen
%div#about-project
	.row
		.column.seven
			%h5 About the project
			%h4 Closeoutbikes is a file synchronization and storage service and the new home for the popular Google Docs - a suite of productivity applications, that offer collaborative editing on presentations, spreadsheets, and more. This service is hugely popular with consumers and businesses - it is used to safely store everything from family photo albums to international trade secrets.
		.column.five
			%h5 Our Role
			%h4 Closeoutbikes Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorum Ipsum has been the industry's standard dummy text since the 1950s.
%div#logo-versions
	.row
		%h3 The Logo
		%h4 CloseoutBike Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorum Ipsum has been the industry's standard dummy text since the 1950s.
		#selectors
		#logo-options
		%br
		#selected-logo
%div#project-design
	.row
		%h3 The Website Design
		%h4 CloseoutBike Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorum Ipsum has been the industry's standard dummy text since the 1950s.
		#design-image
		%h4 CloseoutBike Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorum Ipsum has been the industry's standard dummy text since the 1950s.
		%br
		%br
		= button_to "visit the site", "http://www.closeoutbikes.com", :class => "btn blue center top-margin-small", :method => :get

