%div#tagline.closeoutbikes
	.row{:style => "position: relative"}
		%h3 Your bicycle shopping gets easier!
		= image_tag ("closeoutbike_laptop.png"), :id => "laptop_image"
		= link_to "", textus_case_study_path, :id => "page_arrow", :class => "prev"
		= link_to "", mobilizeart_case_study_path, :id => "page_arrow", :class => "next"


%div#case-study-middle-row

#case-study-steps
	.row
		%h3 The Product
		%h4 Closeoutbikes seamlessly finds you the perfect bike at the right price so you have more time to ride and more money to spend during your adventures. Unlike many ecommerce sites, Closeoutbikes connects you with the local bike shops that allow biking communities to thrive, rather than with a faceless warehouse somewhere in the world.
	.row
		%h3 The Project
		%h4 Design is functional art, and striking a proper balance between an appealing aesthetic and an intuitive user flow is the main challenge of any designer.  Visitors must not simply appreciate a site, but be able to navigate it easily while being confident in their purchases.  In addition to the psychology of shoppers, our designers much understand the sentiments of the entrepreneur behind the site, and create something that represents them and their unique offering. <br><br> To manage this process our designer, Gil, worked hand in hand with the founder of Closeoutbikes to design everything from the logo to the design of the site itself.  This included an extensive interview, rounds of mockups and refinements and conversations that drilled down into not only the business function of the site, but the mood and sensibilities of those who would use it most. <br><br> What emerged was a clean site that connects users to the bikes they want, not to the site itself, by practicing perfect simplicity.  Simple means minimalist, easy to use and calming, but does not imply a lack of thought or diligent work.  Ask Gil why he used a certain font in a specific place, and he will send you a philosophical treatise on beauty and reference material on modern design theory.  All you need to know is that it looks great, and trust that we can explain all the reasons why, but we are always open to a deep conversation on what we love to do.
	.row
		%h3 The Results
		%h4 The new version of the app launched seamlessly and captured the attention (and dollars) of a high profile client that loved the service.  An application is only successful when it accomplishes the tasks of all the users, but the business is only successful when the application is built in a cost effective manner.  We strive to ensure that our clients get the most out of our time, as we measure ourselves by the success and satisfaction of our partners, and not by our bottom line alone.
	.row
		= link_to "view the site", 'http://www.closeoutbikes.com', :target => "_blank", :class => "btn blue center top-padding top-margin-small", :method => :get

