#contact-header
  .row
    %h1 Let's get down to business.
#contact-body
  .row
    %h3 Interested in hiring us?
    %h4 There are no secrets to success. It is the result of preparation, hard work, and learning from failure.
    #contactTab
      =render :partial => "messages/contact"

