#contact-header
  .row
    %h1 Interested in hiring us?
#contact-body
  .row
    %h3 Let's start the conversation. 
    %h4 There are no secrets to success. It is the result of preparation, hard work, and learning from experience. 
    #contactTab
      =render :partial => "messages/contact"

