%div#tagline.gigdog
	.row{:style => "position: relative"}
		%h3 Music comes home.
		= image_tag ("gigdog_laptop.png"), :id => "laptop_image"
		= link_to "", mobilizeart_case_study_path, :id => "page_arrow", :class => "prev"
		= link_to "", greeneggs_case_study_path, :id => "page_arrow", :class => "next"
%div#case-study-middle-row

#case-study-steps
	.row
		%h3 The Product
		%h4 A live music promoter had a compelling vision; an internet radio station that played music from bands with upcoming gigs in the area. The goal was to increase ticket sales at local venues by exposing listeners to new music.
	.row
		%h3 The Project
		%h4 Building an application is not difficult, but building the right application is the challenge of any startup. Our initial planning session pinpointed the primary business needs and uncovered assumptions about how individuals will use the site.  We built the Minimum Viable Product by focusing on the core functionality, and then we made it look pretty and released GigDog to the public. We wanted to test our assumptions by learning from the end user, rather than build the entire site in stealth mode. <br><br> We began a rigorous testing program in order to understand user behavior and optimize all aspects of the site. We thought, for example, that a tutorial would decrease the time between users landing on the site and listening to music, so we built one. By releasing two versions of GigDog (one with the tutorial and one without) to two cohorts of new users we began gathering sweet, sweet data. The data showed that we were wrong, and that the tutorial increased the time it took for a user to hit ‘play’.<br><br> Although our pride was a little hurt, this validated learning is exactly what we wanted to gain from testing. By conducting similar tests on other functions we know that every piece of GigDog exists because it increases the user experience, not because we thought it might. Rather than passively writing code, we used our expertise to analyze data and help the entrepreneur make better, more informed decisions for his business.
	.row
		%h3 The Results
		%h4 GigDog is going strong and expanding to cities across the United States, but that does not mean our work is done. We continue to add functionality and run tests to optimize key metrics, such as the number of recurring users and the time spent on the site. We have helped an entrepreneur achieve his dream, helped venues and bands increase tickets sales, and exposed countless listeners to new music (just kidding, we count everything).
	.row
		= link_to "view the site", 'http://www.gigdog.fm', :class => "btn blue center top-padding top-margin-small", :target => "_blank", :method => :get


