%section#main-feature
  #text-wrapper
    %h2 Featured Client
  %article.quote
    Well done. The new version is everything I had hoped it would be.
    %span.credit -- Jim Fishkin, Center for Deliberative Democracy
%section#tagline
  %article
    We build
    %em
      amazing
    web apps for:
#features
  %section#startups
    %article
      %h3 Startups
      %p Coshx Labs builds top-notch web applications quickly and will crank out new features as fast as you can dream them up.

  %section#enterprise
    %article
      %h3 Enterprise
      %p As former enterprise employees, we know how difficult it can be to overcome institutional inertia and drive technical change.  Let us welcome you to 2011!

  %section#you
    %article
      #title
        %h3 You
        %p Our clients love us, and you will too.  Let’s pair up and get that backlog under control.
-#%section#blog
-#  .wrapper
-#    %h3 Blog
-#    %section#subscribe
-#      %span Subscribe
-#