%div#mission-statement.row
  %section
    %h1 Execution is easy, when you have the right partners.
    %h2 You have an idea, and we have the skills to build it. We will sweat the technical details so you can focus on what your users need most. Let's build something together.

