%section#main-feature
  #text-wrapper
    %h2 Feature
%section#blog
  #text-wrapper
    %h3 From the Blog
%section#tagline
  %article
    We build
    %em
      amazing
    web apps for:
#features
  %section#startups
    %article
      %h3 Startups
  %section#enterprise
    %article
      %h3 Enterprise
  %section#you
    %article
      #title
        %h3 You
