
#home
  #home-about-us-box
    %h1 We build applications for people
    %h2 Watching your idea develop into a valuable application should be fun, not daunting. Our approach makes you an integral part of the process while improving your tech along the way.

  #home-our-clients
    -@projects.each do |project|
      .home-client-box
        =image_tag project.picture

