%div#tagline.scheduleshare
	.row
		%h3 A Coshx Product for the Masses
		= image_tag("scheduleshare_laptop.png")
%div#case-study-middle-row

#case-study-steps
	.row
		%h3 The Product
		%h4 Do you have a tangle of calendars that covers various aspects of your work and social life? ScheduleShare unravels the mess by giving you the ability to filter and view only the information that is relevant to the ‘share’ you are creating. You can invite the appropriate people to this share and tune it so that they only see what they need, allowing you to spend more energy doing things, and less time planning them.
	.row
		%h3 The Project
		%h4 When we see a problem, it is in our nature to fix it. Our trusted Ryan Ahearn was looking for common availability with a colleague and thought there should be an easy way to manage the multitude of calendars in front of him. When he didn’t find one, he decided to build it. Ryan presented the idea at a Coshx hackathon (a coffee fueled 3 day coding fest where we break into teams and hack away on our ideas) and gathered support for the concept. After winning the hackathon and getting the Coshx team behind him, ScheduleShare was off and running. <br><br> The challenges for building ScheduleShare are the same ones our clients face every day. Which feature should we work on next, where should we dedicate our time, who will use this and how much will they pay? To answer these questions, we practice what we preach; get the service into the hands of users, generate feedback and iterate to perfection. We keep an eye diligently focused on ensuring that resources are being spent where they will generate the biggest return, as we want to put our partners in the best position to succeed.
	.row
		%h3 The Results
		%h4 ScheduleShare is serving over 8,000 requests a month, and growing. We continue to test new functionality and improve the service, and new features are coming online steadily. 
	.row
		= link_to "view the site", 'http://www.scheduleshare.net', :target => "_blank", :class => "btn blue center top-padding top-margin-small", :method => :get

