
%h1.centre WE ARE ALL ABOUT THE WEB
%p.graytext.centre Let's start up a conversation about what you need and how we can help. We're just a quick email away!

.short-white-line

.row
  .services_box
    =image_tag("services/circles.png")
    %a.circle.circle0
      .icon.idea-icon
    %a.circle.circle1
      .icon.books-icon
    %a.circle.circle2
      .icon.design-icon
    %a.circle.circle3
      .icon      
    %a.circle.circle4
      .icon.develop-icon
    %a.circle.circle5
      .icon.produce-icon
    %a.middle
      .icon.process-icon
    
.row
  %h2.star-header
    Web Development

.services
  .row
    .two.columns.mobile-one
      %a.circle
        .icon.agile-icon

    .ten.columns.mobile-three
      %h5{editable(1)}
        =content(1)
      %p{editable(2)}
        =content(2)
  .row
    .two.columns.mobile-one
      %a.circle
        .icon.ruby-icon
    .ten.columns.mobile-three
      %h5{editable(3)}
        =content(3)
      %p{editable(4)}
        =content(4)
  .row
    .two.columns.mobile-one
      %a.circle
        .icon.test-driven-icon
    .ten.columns.mobile-three
      %h5{editable(5)}
        =content(5)
      %p{editable(6)}
        =content(6)
    

.row
  %h2.star-header
    Web Design

.services
  .row
    .two.columns.mobile-one
      %a.circle
        .icon.design-small-icon
    .ten.columns.mobile-three
      %h5{editable(7)}
        =content(7)      
      %p{editable(8)}
        =content(8)
  .row
    .two.columns.mobile-one
      %a.circle
        .icon.global-icon
    .ten.columns.mobile-three
      %h5{editable(9)}
        =content(9)      
      %p{editable(10)}
        =content(10)
  .row
    .two.columns.mobile-one
      %a.circle
        .icon.access-icon
    .ten.columns.mobile-three
      %h5{editable(11)}
        =content(11)
      %p{editable(12)}
        =content(12)


= render 'get_a_proposal'



