#contact-us
  Contact Us
/%h4 There are no secrets to success. It is the result of preparation, hard work, and learning from experience.
=render :partial => "messages/contact"
= render "shared/heart"
