%section#featured-projects
  %header.divider
    %h2 Featured Projects
    = link_to "#", :class => "a-button" do
      See More Case Studies

%div.featured_projects.row
  - featured_projects.each_with_index do |fp, i|
    %div.four.columns
      .fp_img{:class => "no#{i}"}
        =image_tag fp.picture_url if fp.picture?
        .overlay
          .link-wrapper
            %a.view{:href => "#", "data-reveal-id" => "modal#{i}"}
            .separator
            =link_to " ", fp, :class => "case"
    
    %div{:id => "modal#{i}", :class => "reveal-modal"}
      %h2=fp.title
      %p=fp.description
      %a.close-reveal-modal &#215

