#results-header
  .row
    %h1 Simple is better than complex.
%div#recent-work
  #our-work-text.row
    %h3 Our Work
    %h4 We have a solid track record of delivering great results - on time and on budget. Here are just a few of our recent wins.
  .row
    #closeoutbike-box.column.five
      #closeoutbike-result-image
    #mobilizeart-box.column.five
      #mobilizeart-result-image
  .row
    #gigdog-box.column.five
      #gigdog-result-image
    #greeneggs-box.column.five
      #greeneggs-result-image
  .row
    #textus-box.column.five
      #textus-result-image
    #lastproject-box.column.five
      #lastproject-result-image  