%div.featured_projects
  - rowify(@projects, 3).each_with_index do |projects, row_num|    
    .row
      - projects.each_with_index do |p, i|
        %div.four.columns
          =render :partial => "project", :locals => {:row=> row_num, :p => p, :i => i} if (row_num*3+i) < (@projects.count-1)
          =render :partial => "your_project" if (row_num*3+i) == (@projects.count-1)


- if admin_signed_in?
  = link_to 'New Project', new_project_path, :class => "large blue button"

%section#testimonials.row
  %header.divider
    %h2 Testimonials
    = link_to " ", "/get_random_quote", :remote => true, :class => "test-nav next"
    = link_to " ", "/get_random_quote", :remote => true, :class => "test-nav prev"

  = render :partial => "quotes/random_quote", :locals => {:random_quote => random_quote}



