#
# Format:
#
# <heroku_san shorthand name>:
#   app: <Heroku app name>
#   config:
#     - <Heroku config:var name>: <Heroku config:var value>
#
config_repo: 'https://github.com/coshx/coshx_configuration'

production:
  app: coshx-web-production
  config:
    BUNDLE_WITHOUT: "development:test"
    GOOGLE_ANALYTICS: "UA-25757046-1"
    DISQUS_SHORTNAME: "coshxlabs"
    COSHX_HOST: "coshx.com"

staging:
  app: coshx-web-staging
  config: &default
    BUNDLE_WITHOUT: "development:test"
    DISQUS_SHORTNAME: "coshxlabsstaging"
    COSHX_HOST: "coshx-web-staging.herokuapp.com"
