/* import fonts needed */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700);

html{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}

.left{
	float: left;
}

.right{
	float: right;
}

.last{
	margin-right: 0px !important;
}

.clear{
	clear: both;
}
/* Columns */
.wrapper{
	width: 1140px; 
	margin: 0px auto;
}

header{
	padding-bottom: 100px;
}


section.header{
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
	margin-bottom: 55px;
}

ul.header-nav{
	float:right;
	color: #9f9f9f;
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
	font: 14px 'Open Sans', sans-serif;
}
		
ul.header-nav li{
	display: inline;
	padding: 10px 20px;
}

ul.header-nav a{
	color: #9f9f9f;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

ul.header-nav a:hover{
	color: #fcb040;
}

span.number{
	color: #fff;
}


section.bottom h1{
	font: 48px 'Open Sans', sans-serif;
	font-weight: bold; 
	color: #545454;
	margin-bottom: 10px;
	text-align: center;
}

section.bottom h2{
	font: 14px 'Open Sans', sans-serif;
	color: #9f9f9f;
	margin-bottom: 20px;
	text-align: center;
}

section.bottom a{
	background-color:#fcb040;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	color:#fff;
	font: 18px 'Open Sans', sans-serif;
	font-weight:bold;
	padding:14px 42px;
	text-decoration:none;
	display: block;
	margin-left: 40%;
	width: 120px;
	text-align: center;
}

section.bottom a:hover {
	background-color:#545454;
}