
@import url('animations.css');

body{
	-webkit-backface-visibility: hidden;
}

.clear{
	clear: both;
}

header{
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 40px;
	z-index: 10;
	position: fixed;
}

#header-content{
	position: relative;
}

h1{
	color: #535353;	
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;	
}

.dots{
	line-height: 30px;	
	margin: 20px auto;
	width: 28px;
	height: 8px;
	background: url(../img/ellipsis.png) no-repeat;
}

h1#logo{
	margin-top: 0;	
	left: 0;
	opacity: 0;
}

h1#logo.no-animation{
	opacity: 1;
}

#header-content h1#logo{
	
	position: absolute;	
	/*left: 50%;
	margin-left: -101px;*/
}

h1#logo a{
	background: url(../img/logo.png) no-repeat;
	width: 261px;
	height: 55px;
	float: left;	
	margin-top: 45px;
}

h1#logo:hover a{
	background-position: 0px -55px;
}

h1#logo-light a{
	background: url(../img/logo-light.png) no-repeat;
	width: 261px;
	height: 55px;
	float: left;	
	margin-top: 140px;
}


h1#logo-light:hover a{
	background-position: 0px -55px;
}

h3{
	font-size: 18px;
	line-height: 30px;
	color: #545454;
	text-transform: uppercase;
}

section{
	padding: 90px 0 80px;
}

section p{
	color: #919191;
	font-size: 14px;
}

section p a{
	color: #fcb040;
}

#home{
	padding-top: 130px;	
}

#home section{
	position: relative;
}

#about, #projects, #quote{
	background: #f6f6f6;
}

#blog{
	background: #545454
}

#about{
	border-bottom: 1px solid #dedede;
}

/* button classes */
.btn{
	width: 198px;
	height: 51px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  	-ms-border-radius: 5px;
  	-o-border-radius: 5px;
  	border-radius: 5px;
  	-webkit-transition-property: all;
  	-moz-transition-property: all;
  	-o-transition-property: all;
  	transition-property: all;
  	-webkit-transition-duration: 275ms;
  	-moz-transition-duration: 275ms;
  	-o-transition-duration: 275ms;
  	transition-duration: 275ms;;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;	
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 20px;
	display: block;
	line-height: 51px;
	text-align: center;
	margin-bottom: 15px !important;
	letter-spacing: -1px;
}

.btn:hover{
	color: #FFFFFF;	

}

.btn.center{
	margin: 0px auto auto;
}
.btn.top-margin{
	margin-top: 50px;
}

.btn.top-margin-small{
	margin-top: 20px;
}

.btn.orange{	
	background-color: #fbaf3f;
}

.btn.orange:hover{
	color: #fff;
	background-color: #545454;
}

.btn.dark-blue{
	background-color: #3b5997;
}

.btn.dark-blue:hover{
	color: #fff;
	background-color: #545454;
}

.btn.blue{
	background-color: #00abed;
}

.btn.blue:hover{
	color: #fff;
	background-color: #545454;
}

.arrow-down{
	height: 32px;
	width: 32px;
	background: url(../img/arrow-down.png) no-repeat;
	display: block;
	margin: 0 auto;
	margin-top: 90px;
}

/* Menu classes */
nav{
	margin-top: 12px;
}

#header-content nav{
	opacity: 0;
	margin-top: 12px;
}
	
nav ul{	
	float:right;
	margin-top: 48px;	
}

nav ul li{
	list-style-type: none;
	float:left;
	margin-left: 40px;
}

nav ul li a{
	color: #9f9f9f;	
	font-size: 14px;
	font-weight: bold;
}

nav ul a.active{
	color: #fcb040;		
}

nav ul li a.selected, nav ul li a:hover{
	webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
	color: #fcb040;		
}

.clouds, .trucks, .rocket, .launch-pad, .cloud1, .cloud2, .cloud3, .moon{
	position: absolute;
}

.clouds{
	top: 5px;
	right: 0;
}

.cloud1{
	top: 10px;
	right: 10px;	
}

.cloud2{
	top: 34px;
	right: 96px;	
}

.cloud3{
	top: 62px;
	right: 0;	
}

.moon{
	top: 16px;
	right: 59px;	
	z-index: -1;
}


.trucks{
	bottom: 0;
	left: 0;
}

.truck1, .truck2, .truck3{
	position: absolute;
}

.truck1{
	bottom: 0;
	left: 132px;
}

.truck2{
	bottom: 0;
	left: 67px;
}

.truck3{
	bottom: 0;
	left: 0px;
}

.truck-star, .truck-bulb, .truck-heart{
	position: absolute;
}

.truck-heart{
	bottom: 36px;
	left: 138px;
}

.truck-bulb{
	bottom: 35px;
	left: 75px;
}

.truck-star{
	bottom: 37px;
	left: 7px;
}


.launch-pad{
	bottom: -10px;
	right: 0;
}

.rocket{
	bottom: 12px;
	right: 20px;
}

.the-team{
	position: relative;
	margin-top: 70px !important;
}

.the-team .column{
	padding: 0;
}

.the-team .two-team-mates{
	margin-left: 32.45%;
}

.the-team .three-team-mates{
	margin-left: 22.19%;
}

.the-team .four-team-mates{
	margin-left: 11.75%;
}

.team-mate{	
	margin: 0 auto;
	text-align: center;
	display: block;
	float: left;
	padding-right: 100px;
	width: 242px;	
	margin-top: -15px;
	position: relative;
	visibility: hidden;
}

.team-mate a{
	height: 142px;
	width: 142px;	
	float: left;
}

.team-mate .overlay{
	height: 142px;
	width: 142px;
	-webkit-webborder-radius: 71px;
	-moz-webborder-radius: 71px;
	-ms-webborder-radius: 71px;
	-o-webborder-radius: 71px;	
	border-radius: 71px;
	background: #fcb040;
	position: absolute;
	top: 0;
	display: none;
}

.team-mate .team-mate-mask{
	width: 142px;
	height: 142px;
	background: url(../img/mask-circle.png) no-repeat;
	display: block;
	position: absolute;
	top: 0px;

	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.team-mate a:hover .circle-mask{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.team-mate-bio{
	padding-top: 185px;
	position: relative;
	height: 505px;
	overflow: hidden;
}


.graph-wrapper{
	position: relative;	
	float: left;
	bottom: -221px;
}

.graph-wrapper .interests {
	position: absolute;
	top: 34px;
	left: 43px;
	background: #f6f6f6;
	border: 4px solid #f6f6f6;
	color: #535353;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 9px 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}
.graph-wrapper .interests:after,.graph-wrapper.interests:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.graph-wrapper .interests:after {
	border-color: rgba(246, 246, 246, 0);
	border-top-color: #f6f6f6;
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

.team-mate-bio .graph{
	margin-top: 58px;
	vertical-align: bottom;
}


.team-mate-bio .info{ 
	width: 204px;	
	height: 241px;
	background-color: rgba(246,246,246,.9);
	border: 1px solid #e9e9e9;
	-webkit-moz-border-radius: 4px;
	-moz-moz-border-radius: 4px;
	-ms-moz-border-radius: 4px;
	-o-moz-border-radius: 4px;
	border-radius: 4px;	
	float: left;	
}

.team-mate-bio .info .avatar{ 
	padding-top: 7px;
	padding-bottom: 8px;
	height: 199px;
}

.team-mate-bio .info img{ 
	display: block;
	margin: 0 auto;		
}

.team-mate-bio .info .social-media{
	width: 100%;
	text-align: center;
	/*padding: 13px 0 10px;*/
	line-height:1px;
	background: #ffffff;
}

.team-mate-bio .info .social-media .twitter{
	width: 21px;
	height: 40px;
	background: url(../img/employee-twitter.png) center center no-repeat;
	display: inline-block;	
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	padding: 0 25px;

}

.team-mate-bio .info .social-media .github{
	width: 9px;
	height: 40px;
	background: url(../img/employee-github.png) center center no-repeat;	
	display: inline-block;	
	border-right: 1px solid #ebebeb;
	padding: 0 25px;

}

.team-mate-bio .bio{
	float: left;
	width: 82%;	
	padding-left: 18px;
	position: relative;
}

.team-mate-bio .bio h2{
	color: #fbaf3f;
	font-size: 30px;	
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 3px;
}

.team-mate-bio .bio h3{
	color: #535353;
	font-size: 14px;
	text-transform: uppercase;	
	font-weight: normal;
	line-height: 24px;
	margin: 0;
}

.team-mate-bio .bio p{
	color: #a9a9a9;
	font-size: 13px;	
}

.drop-cap{
	font-weight: bold;
	font-size: 18px;
}

.drop-cap.orange{
	color: #fcb040;
}

.our-projects{	
	text-align: center;
	margin-top: 95px !important;
	margin-left: 0!important;
	margin-right: 0!important;
}
.project{
	width: 196px;
	float: left;
	margin-right: 3%;
	margin-top: -30px;
	height: 226px;
	overflow: hidden;
	display: block;
	position: relative;
	visibility: hidden;
}

.project-top-column{
	width: 100%;	
	margin-left: 0px!important;
	margin-right: 0px!important;
}

.project-bottom-column{
	width: 78.94%;
	margin-left:10.52%;	
	margin-right:10.52%;
}

.project{
	position: relative;
}
.project a .overlay{
	height:226px;
	width: 196px;		
	position: absolute;
	top: 0;	
	display: none;
	background: url(../img/project-overlay.png) no-repeat;
}

.project.last{
	margin-right: 0;
}

.project .mask{
	width: 224px;
	height: 257px;
	background: url(../img/mask.png) no-repeat;
	display: block;
	position: absolute;
	top: 0px;

	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.project a:hover .mask{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.ring{
	color: #c0c0c0;
	width: 108px;
	height: 108px;
	cursor:pointer;
	text-align: center;
	line-height: 102px;
	margin-right: 68px;
	float: left;
	border: 1px double #c0c0c0;
	-moz-border-radius: 108px;
	-webkit-border-radius: 108px;
  	-ms-border-radius: 108px;
  	-o-border-radius: 108px;
	border-radius: 108px;
	position: relative;
	z-index:2;
	background-color: #fff;
	box-shadow:
		0 0 0 4px white,
	  	0 0 0 5px #c0c0c0;
	-webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
}

.ring:hover{
	color: #fcb040;
	width: 108px;
	height: 108px;
	text-align: center;
	line-height: 102px;
	margin-right: 68px;
	float: left;
	border: 1px double #fcb040;
	-moz-border-radius: 108px;
	-webkit-border-radius: 108px;
  	-ms-border-radius: 108px;
  	-o-border-radius: 108px;
	border-radius: 108px;
	position: relative;
	z-index:2;
	background-color: #fcb040;
	box-shadow:
		0 0 0 4px white,
	  	0 0 0 5px #fcb040;
}

.rings{
	padding: 50px 0 20px;
}

.ring.last{
	margin-right: 0px;
}

.ring img{
	vertical-align: middle;
}

.well{	
	height: 68px;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 68px;
	color: #9f9f9f;	
	-webkit-border-radius: 5px;    
	-moz-border-radius: 5px;    
    border-radius: 5px;
    position: relative;
    margin-bottom: 55px !important;
}

.well:after{
	position: absolute;
	content: "";
	bottom: 100%;
	border: solid transparent; 
	height: 0;
	width: 0; 
	pointer-events: none;
	border-color: #FFFFFF; 
	border-bottom-color: #F5F5F5; 
	border-width: 10px; 
	left: 60px; 
	margin-left: -18px;
	-webkit-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;
}

.well.first:after{
	left: 60px;
}

.well.second:after{
	left: 238px;
}

.well.third:after{
	left: 416px;
}

.well.fourth:after{
	left: 590px;
}

.well.fifth:after{
	left: 765px;
}

.well.sixth:after{
	left: 943px;
}

.well.seventh:after{
	left: 1120px;
}

.web-development{
	margin-top: 60px !important;
}

#blog h3{
	color: #FFF;
	margin: 0;
	font-size: 24px;	
}

#blog section{
	padding: 75px 0;
}

a.blog-link{
	font-size: 16px;
	line-height: 30px;	
	color: #d4d3d3;
	margin-bottom: 35px;
	display: inline-block;
}

a.blog-link:hover{
	webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
	color: #fcb040;	
}

ul.widget{
	margin-bottom: 40px;
}

ul.widget li{
	list-style: none;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 0;
}

ul.widget a{
	font-size: 16px;
	line-height: 30px;
	color: #fcb040;
}

ul.widget a:hover{
	webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
	color: #545454;
}
.date{
	color: #818181;
	font-size: 13px;
	font-style: italic;
}

ul.widget li .date{
	margin-top: 5px;
}
footer{
	background: #2f2f2f;
	padding: 30px 0px 90px;
	color: #818181;
}

footer h4{
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 25px;
}

footer ul{
	list-style: none;
}

footer ul li a:hover{
	webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
	color: #fcb040;
}
.header-gray{
	background-color: #f7f7f7;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 60px;
	padding-top: 149px;
	overflow: hidden;
}
.header-gray h1{
	line-height: 149px;
	margin: 0;
}

.header-gray-planner{
	background-color: #f7f7f7;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	margin-top: 50px;
	overflow: hidden;
}
.header-gray-planner h1{
	line-height: 144px;
	margin: 0;
	font-size: 36px;
}

.blogs{
	padding-bottom: 30px;
}
.avatar{
	display: block;
	margin: 0 auto;
}
.blog-wrapper{
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 60px;
	margin-bottom: 60px;
	overflow: hidden;
}

.blog .blog-title a{
	font-size: 30px;
	line-height: 36px;
	color:#545454;
	font-weight:600;

}

.blog .blog-title a:hover{
	webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
	color: #fcb040;

}

.blog h3{
	font-size: 24px;
	line-height: 24px;
	text-transform: none;
	color: #767676;
	font-weight: 300;
	margin-top: 30px;
}

.blog ul{
	color: #919191;
	list-style-position: inside;
	font-style:italic;
}

.blog a{
	color: #40bcfc;
}

.blog ul li{
	padding-left: 15px;	
}

.blog .read-more{
	webkit-transition: all 275ms;
  	-moz-transition: all 275ms;
  	-o-transition: all 275ms;
  	transition: all 275ms;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	color: #545454;
}

.blog .read-more:hover{
	color:#fcb040;
}

.blog img{
	margin: 20px 0;
}
.prev-post{
	float: left;
	padding-left: 20px;
	background: url(../img/previous-post.png) no-repeat;
	line-height: 16px;
	color: #c0c0c0;
	background-position: 0px -16px;
	margin-top: -10px;
}

.next-post{
	float: right;
	padding-left: 20px;
	background: url(../img/next-post.png) no-repeat;
	line-height: 16px;
	color: #c0c0c0;
	background-position: 0 -16px;
	margin-top: -10px;
}

.next-post:hover, .prev-post:hover{
	background-position: 0 0;	
	color: #545454;
}

em{
	font-variant: italic;
	color: #9f9f9f;
}

.window-wrapper{
	border-bottom: 1px solid #e9e9e9;

}

.window{
	padding-top: 290px;
	text-align: center;	
	position: relative;
	overflow: hidden;
	height: 655px;
}

.navigation{	
	margin-top: 100px;
	position: absolute;
	top: 60px;
	right: 0px;
}

.portfolio-home{
	float: left;	
	background: url(../img/portfolio-home.png) 0 0 no-repeat;
	line-height: 32px;
	color: #c0c0c0;	
	width: 32px;
	height: 32px;	
	margin-right: 20px;
}

.prev-case{
	float: left;	
	background: url(../img/previous-case.png) 0 -32px no-repeat;
	line-height: 32px;
	color: #c0c0c0;	
	width: 32px;
	height: 32px;	
	margin-right: 20px;
}

.prev-case:hover, .next-case:hover{
	background-position: 0 0;	
}

.portfolio-home:hover{
	background-position: 0 -32px;
}

.next-case{
	float: right;
	padding-left: 20px;
	background: url(../img/next-case.png) 0 -32px no-repeat;
	line-height: 32px;
	color: #c0c0c0;	
	width: 32px;
	height: 32px;
}


.window img{
	vertical-align: bottom;
}

.window a.expand{
	width: 900px;
	height: 55px;
	background-color: #fbaf3f;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -450px;
	line-height: 55px;	
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	bottom: -55px;
}

.case-study-wrapper{
	border-bottom: 1px solid #e9e9e9;	
}

.case-study{
	padding-top: 45px;
	padding-bottom:45px;
}
.case-study h2{
	text-align: center;
	color: #535353;
}

#case-study-gigdog{
	margin-top: -70px;
	width: 351px;
	height: 351px;
	display: inline-block;
	background: url(../img/projects/gigdog.png) no-repeat;
}

#case-study-gigdog:hover{
	background-position: 0px -351px;

}

.case-study p{
	text-align: center;
	color: #919191;
	font-size: 14px;
}

.related-work{
	padding-top: 150px;
	padding-bottom: 60px;
	overflow: hidden;
	position: relative;
}

.related-work:before{
	top: 0%;
	position: absolute;
	width: 244px;
	height: 84px;
	background: url(../img/related-projects.png) no-repeat;
	left: 50%;
	margin-left: -122px;
	content: 'Related \A Work';
	text-align: center;
	color: #9f9f9f;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	padding-top: 10px;	   
    white-space: pre-wrap;
}

.related-work .project{
	margin-right: 3.5%;
	visibility: visible;
}

.related-work .project:last-child{
	margin-right: 0 !important;
}

.services-text{
	display: none;
}

.services-icon{	
	background: url("../img/services-icons.png") no-repeat scroll 0 0 transparent;
	height: 34px;
	left: 50%;
	margin-left: -16px;
	margin-top: -17px;
	position: absolute;
	top: 50%;
	width: 32px;
}


.services-icon.settings{
	background-position: 0 0;
}

.ring:hover .services-icon.settings{
	background-position: 0 -34px;
}

.services-icon.bulb{
	background-position: -38px 0;
}

.ring:hover .services-icon.bulb{
	background-position: -38px -34px;
}

.services-icon.book{
	background-position: -79px 0;
}

.ring:hover .services-icon.book{
	background-position: -79px -34px;
}

.services-icon.beaker{
	background-position: -118px 0;
}

.ring:hover .services-icon.beaker{
	background-position: -118px -34px;
}

.services-icon.feather{
	background-position: -157px 0;
}

.ring:hover .services-icon.feather{
	background-position: -157px -34px;
}

.services-icon.stopwatch{
	background-position: -198px 0;
}

.ring:hover .services-icon.stopwatch{
	background-position: -198px -34px;
}

.services-icon.star{
	background-position: -235px 0;
}

.ring:hover .services-icon.star{
	background-position: -235px -34px;
}

.contact{
	position:relative;
	z-index:0;
	margin-top: 50px;
}

.contact-heading{
	width:100%; 
	background-color: #fbaf3f; 
	z-index: 1; 
	margin-bottom: -14px;
}


.contact-heading h1{
	color: #fff;
	line-height: 145px;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	z-index:1;
}

#map-canvas{
	width: 100%;
	height: 400px;
}
.rotate{
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	/* Standard */
	transform: rotate(-90deg);
	width: 100%;
	margin-top: 154px;
}

.addresses{
	list-style: none;	
}

.addresses li a{
	color: #535353;	
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin-bottom: 14px;
}

.addresses li a:after{
	content: "";
	background: url(../img/small-arrow-left.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	display: block;
	top: 4px;
	right: -30px;
}

.addresses li a.selected{
	color: #fbaf3f;
}

.addresses li a.selected:after{
	background-position: 0 -16px;
}

.addresses li a:hover{
	color: #fbaf3f;
}
.addresses li a:hover:after{
	background-position: 0 -16px;
}

.addresses li p{
	margin-bottom: 45px;
	color: #9f9f9f;
}

img.lets-talk{
	margin-top: 45px;
	margin-left: 130px;
}
.contact-info{
	padding: 0;
}

.contact-info h3{
	text-align: center;
	margin: 0;
}

.contact-info .dots{
	margin: 10px auto 10px;
}

.contact-form{
	color: #9f9f9f;
	font-size: 12px;
	float: right;
	width: 500px;
	margin-right: 10px;
	margin-bottom: 0;
}
.contact-info .column{
	padding: 40px 0 10px;
}
.contact-info .column.six p{
	color: #9f9f9f;
	font-size: 12px;
	text-align: center;
}

.contact-info .column.six p.required{
	float: left;
	line-height: 42px;
}
.contact-form button{
	width: 78px;
	height: 42px;
	float: right;
	background-color: #fcb040;
	color: #FFF;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;

	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 275ms;
	-moz-transition-duration: 275ms;
	-o-transition-duration: 275ms;
	transition-duration: 275ms;;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

}

.contact-form button:hover{
	background-color: #545454;
}
.contact-form label{
	float: left;	
	position: relative;
}
.contact-form span{	
  position: absolute;    
  top:0;
  left:0;
  color: #9f9f9f;
  font-size: 12px;	
  line-height: 12px;
  padding: 15px 10px 12px;	

}

input[type="text"], textarea { 
	background-color: white;
	color: #9f9f9f;
	font-size: 12px;	
	line-height: 12px;
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,.04);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.04);
	box-shadow: inset 0 0 6px rgba(0,0,0,.04); 
	display: block; 
	margin: 0 0 12px 0;
	padding: 12px 10px;	
	width: 239px;
	float: left;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	margin-right: 20px;	
}

input[type="text"].last{
	margin-right: 0;
}

textarea{
	height: auto;
	width: 498px;
	font: inherit;
	font-size: 12px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #fafafa;
 border-color: #b3b3b3; }


.orange-required{
	color: #f14829 !important; 	
	position: relative !important;
	padding: 0 !important;
}

.bordered{
	height: 427px;
	border-left: 1px solid #f6f6f6;
	border-right: 1px solid #f6f6f6;
}

.planner{
	margin-top: 25px !important;
	margin-bottom: 60px !important;
	overflow: hidden;
}
.planner h3{
	text-align: center;
	margin-bottom: 5px;
}

.planner .dots{
	margin: 10px auto;
}

.planner input.long{
	width: 498px;
}

.planner p{
	text-align: center;
	color: #9f9f9f;
	font-size: 12px;
	line-height: 18px;
}

.planner .required{
	float: left;
	line-height: 42px;
}
.planner .contact-form{
	width: 518px;
}

.planner button{
	margin-right: 20px;
}