-if @display_author_info
  -author = @posts.first.author
  .row
    #author-info
      =image_tag Gravatar.new(author.email).image_url(size: 80), class: 'about-us-avatar', alt: author.name
      %h1#posted-by
        = "Posts by #{author.name}"