%h3
  -if preview
    =link_to post.title, post
  -else
    =post.title
.post-author=post.author.name
.post-date=post.created_at.strftime("%B %e, %Y")
- if preview
  .post-body=preserve post.preview.html_safe
- else
  .post-body=preserve post.body_html.html_safe