%div
  %h3
    -if preview
      =link_to post.title, blog_post_path(post)
    -else
      =post.title
  %div
    - if post.published?
      %em=post.posted_on.strftime("%B %e, %Y")
    - else
      %em="Draft"
  %br
  .post-info-wrapper
    =image_tag Gravatar.new(post.author.email).image_url, :class => 'photo'
    .post-info
      %div
        Coshx Labs
      %div
        = 'by '+post.author.name
  - if preview
    .post-body=preserve post.preview_html.html_safe
  - else
    .post-body=preserve post.body_html.html_safe
