.share-buttons
  #addThis_button
  .addthis_toolbox.addthis_default_style.addthis_32x32_style
    %a.addthis_button_hackernews
    %a.addthis_button_reddit
    %a.addthis_button_facebook
    %a.addthis_button_twitter
    %a.addthis_button_compact
    %a.addthis_counter.addthis_bubble_style
  %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f5ee397644a3b4c", :type => "text/javascript"}
