%section.primary
  %h2 New Blog Post
  = form_for :post, :url => posts_path(@post), :html => { :id => "new-post" } do |f|
    = f.text_field :title, :placeholder => "Post Title"
    = f.text_area :body, :placeholder => "Post Content"
    = f.submit "Save"
