@import "compass/css3";
@import "compass/layout";

$gray: #969595;
$light-gray: #97979b;
$medium-gray: #525357;

$blue: #1588c3;
$dark-blue: #004264;
$very-pale-blue: #E3E3FF;
$green: #afcf45;
$purple: #c64791;

$light-orange: #f47123;
$dark-orange: #f05325;

$silver: #c1c5c9;
$gold: #d6c29c;

//
//$header-height: 175px;
//
//$feature-height: 450px;

@mixin centered {
    margin: 0 auto;

}

@mixin nav-text {

}

@mixin footer-header-text {

}

@mixin footer-subheader-text {

}

@mixin footer-text {

}

@mixin footer-link-text {

}

@mixin main-feature-text($size, $spacing) {

}

@mixin tagline-text {

}

@mixin feature-header-text($color) {

}

@mixin feature-text {

}

@mixin blog-header-text {

}

@mixin quote-text {

}

@mixin credit-text {

}

@mixin header-text {

}

@mixin sub-header-text {

}

@mixin lowercase-header-text {

}

@mixin article-text {

}

@mixin meta-text {

}

@mixin code-text {

}
