@import "bourbon";

// Colors!

$off-white: #eeeeee;

$gray: #b2b2b2;
$light-gray: #97979b;
$medium-gray: #525357;
$dark-gray: #333333;

$blue: #1588c3;
$bright-blue: #2ba6cb;
$dark-blue: #004264;

$white: #FFF;
$black: #000;

@mixin pt-sans {
  font-family: 'PT Sans', sans-serif;
}
