@import "common";

#about-header {
  background: #38a8cc;
  padding-top: 10.7%;

  h1, h2 {
    color: #FFFFFF;
    margin-top: 40px;
  }
  h2 {
    padding-bottom:160px;
  }
}

#principles {
  text-align: center;
  .row {
    height: 100%;
    border-bottom: 1px solid #e9e9e9;
  }

  h5 {
    margin-top: 25px;
  }
  h6 {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 72px;
  }
}

#circle-white {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);
  width: 125px;
  height: 125px;
  margin-top: -55px;
  margin-bottom: -87px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  position: static;
}

#expertise {
  text-align: center;
  padding-top: 36px;
  border-bottom: 1px solid #e9e9e9;

  h4 {
    margin-top: 20px;
    color: $text-grey;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 37px;
  }
}

#services {
  padding-top: 70px;
  padding-bottom: 16px;
  .row .column 
  {
    padding-bottom: 70px;
    padding-right: 15px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

#icon-text-row{
  h5 {
    display: inline;
    margin-left: 10px;
  }
}

#team {
  background: $grey-white;
  padding-bottom: 77px;

  h4 {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  h7, h8 {
    // margin-left: 53px;
  }

  a {
    color: #2ba6cb;
  }

}

#team-header{
  margin-top: 70px;
  text-align: center;
}

#member-info{
  margin-top: 30px;
  margin-bottom: 30px;
}

#team-row {
  margin-top: 40px;
  padding-left: 60px;
}

#down-triangle {
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}

#how-we-work {
  border-bottom: 1px solid #e9e9e9;

  h4 {
    margin-top: 20px;
  }

  h5 {
    font-size: 24px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#work-header {
  padding-top: 45px;
  padding-bottom: 36px; 
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  h4 {
    margin-left: 200px;
    margin-right: 200px;
  }
}

#step {
  padding-top: 60px;
  padding-bottom: 69px;
}

#step.even, #step.last {
  .four {
    width: 26%;
  }

  .eight {
    width: 70%;
    padding-right: 85px;
  }
}

#step.even {
  border-bottom: 1px solid #e9e9e9;
}

#step.odd {
  border-bottom: 1px solid #e9e9e9;

  .four {
    width: 25%;
    // padding-right: 96px;
  }

  .six {
    width: 71%;
    padding-left: 108px;
  }
}

#circle-off-white {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);
  width: 190px;
  height: 190px;
  // float: right;
  margin-left: auto;
  margin-right: auto;
  background: $grey-white;

  img {
    padding: 30% 0px;
  }
  img.planning{
      padding: 15% 0px;
    }
  img.design {
      padding: 20% 0px;
  }
}

.about-us-avatar {
  display: block;
  width: 80px;
  height: 80px;
  // margin-left: auto;
  // margin-right: auto;
  border-radius: 5px;

  //-webkit-transition: all 0.3s ease-out; /* Safari 3.2+, Chrome */
  -moz-transition: all 0.3s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out; /* Opera 10.5–12.00 */
  transition: all 0.3s ease-out; /* Firefox 16+, Opera 12.50+ */
}

.modal .about-us-avatar {
  float: left;
}

.modal h2{
  text-align: left;
  margin-top: 0px;
}

.modal .employee-info {
  float: left;
  margin-left: 10px;
}

.modal .employee-info h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal .employee-info h5 {
  margin: 0px;}

.modal .employee-info li {
  margin-right: 10px;
  display: inline;
}

.modal .employee-header {
  overflow: hidden;
}

@media screen and (max-width: 900px){
  .main-section-body{
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 767px){
  #circle-off-white{
    width: 90px !important;
    height: 90px !important;
  }

  #circle-off-white img{
    height: 100%;
  }

  #step.even .eight, #step.last .eight{
    padding-right: 0px;
  }

  #team-row{
    padding-left: 150px;
  }

}

@media screen and (max-width: 560px){
  .modal{
    width: 320px;
  }
  #team-row{
    padding-left: 50px;
  }
  .row .mobile-one{
    padding-left: 0px;
  }
}
