/* Animations for the trucks on the home page */

.paused .truck1, .paused .truck2, .paused .truck3, .paused .truck-star,
.paused .truck-bulb, .paused .truck-heart, .paused .launch-pad, .paused .rocket,
.paused .cloud1, .paused .cloud2, .paused .cloud3, .paused .moon, #content-wrapper.paused,
#logo.paused, nav.paused{
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;        
}


.truck1{        
        -webkit-animation-name: movetruck-one, movetruck-one-back;
        -webkit-animation-delay: 1s, 7s;
        -webkit-animation-duration:4s, 25s;
        -webkit-animation-timing-function: ease-out, ease-out;


        -moz-animation-name: movetruck-one, movetruck-one-back;
        -moz-animation-delay: 1s, 7s;
        -moz-animation-duration:4s, 25s;
        -moz-animation-timing-function: ease-out, ease-out;

        -o-animation-name: movetruck-one, movetruck-one-back;
        -o-animation-delay: 1s, 7s;
        -o-animation-duration:4s, 25s;
        -o-animation-timing-function: ease-out, ease-out;

        animation-name: movetruck-one, movetruck-one-back;
        animation-delay: 1s, 7s;
        animation-duration:4s, 25s;
        animation-timing-function: ease-out, ease-out;

    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

.truck2{        
        -webkit-animation-name: movetruck-two, movetruck-two-back;
        -webkit-animation-delay: 1s, 7s;
        -webkit-animation-duration:4s, 25s;
        -webkit-animation-timing-function: ease-out, ease-out;


        -moz-animation-name: movetruck-two, movetruck-two-back;
        -moz-animation-delay: 1s, 7s;
        -moz-animation-duration:4s, 25s;
        -moz-animation-timing-function: ease-out, ease-out;

        -o-animation-name: movetruck-two, movetruck-two-back;
        -o-animation-delay: 1s, 7s;
        -o-animation-duration:4s, 25s;
        -o-animation-timing-function: ease-out, ease-out;

        animation-name: movetruck-two, movetruck-two-back;
        animation-delay: 1s, 7s;
        animation-duration:4s, 25s;
        animation-timing-function: ease-out, ease-out;

    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

.truck3{        
        -webkit-animation-name: movetruck-three, movetruck-three-back;
        -webkit-animation-delay: 1s, 7s;
        -webkit-animation-duration:4s, 25s;
        -webkit-animation-timing-function: ease-out, ease-out;


        -moz-animation-name: movetruck-three, movetruck-three-back;
        -moz-animation-delay: 1s, 7s;
        -moz-animation-duration:4s, 25s;
        -moz-animation-timing-function: ease-out, ease-out;

        -o-animation-name: movetruck-three, movetruck-three-back;
        -o-animation-delay: 1s, 7s;
        -o-animation-duration:4s, 25s;
        -o-animation-timing-function: ease-out, ease-out;

        animation-name: movetruck-three, movetruck-three-back;
        animation-delay: 1s, 7s;
        animation-duration:4s, 25s;
        animation-timing-function: ease-out, ease-out;

    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}


@-webkit-keyframes movetruck-one {        
        0% {left: 132px;}
        100% {left: 950px;}
}

@-moz-keyframes movetruck-one {        
        0% {left: 132px;}
        100% {left: 950px;}
}

@-o-keyframes movetruck-one {        
        0% {left: 132px;}
        100% {left: 950px;}
}

@keyframes movetruck-one {        
        0% {left: 132px;}
        100% {left: 950px;}
}

@-webkit-keyframes movetruck-two {        
        0% {left: 67px;}
        100% {left: 890px;}
}

@-moz-keyframes movetruck-two {        
        0% {left: 67px;}
        100% {left: 890px;}
}

@-o-keyframes movetruck-two {        
        0% {left: 67px;}
        100% {left: 890px;}
}

@keyframes movetruck-two {        
        0% {left: 67px;}
        100% {left: 890px;}
}


@-webkit-keyframes movetruck-three {        
        0% {left: 0;}
        100% {left: 835px;}
}

@-moz-keyframes movetruck-three {        
        0% {left: 0;}
        100% {left: 830px;}
}

@-o-keyframes movetruck-three {        
        0% {left: 0;}
        100% {left: 830px;}
}

@keyframes movetruck-three {        
        0% {left: 0;}
        100% {left: 830px;}
}


@-webkit-keyframes movetruck-one-back {
        0% {-webkit-transform: scaleX(-1); left: 950px;}        
        100% {left: -290%; -webkit-transform: scaleX(-1); }
}

@-moz-keyframes movetruck-one-back {
        0% {-moz-transform: scaleX(-1); left: 950px;}        
        100% {left: -290%; -moz-transform: scaleX(-1); }
}

@-o-keyframes movetruck-one-back {
        0% {-o-transform: scaleX(-1); left: 950px;}
        100% {left: -290%; -o-transform: scaleX(-1); }                        
}

@keyframes movetruck-one-back {
        0% {transform: scaleX(-1); left: 950px;}                
        100% {left: -290%; transform: scaleX(-1); }
}


@-webkit-keyframes movetruck-two-back {
        0% {-webkit-transform: scaleX(-1); left: 890px;}        
        100% {left: -295%; -webkit-transform: scaleX(-1); }
}

@-moz-keyframes movetruck-two-back {
        0% {-moz-transform: scaleX(-1); left: 890px;}        
        100% {left: -295%; -moz-transform: scaleX(-1); }
}

@-o-keyframes movetruck-two-back {
        0% {-o-transform: scaleX(-1); left: 890px;}
        100% {left: -295%; -o-transform: scaleX(-1); }                        
}

@keyframes movetruck-two-back {
        0% {transform: scaleX(-1); left: 890px;}                
        100% {left: -295%;transform: scaleX(-1); }
}


@-webkit-keyframes movetruck-three-back {
        0% {-webkit-transform: scaleX(-1); left: 830px;}        
        100% {left: -300%; -webkit-transform: scaleX(-1); }
}

@-moz-keyframes movetruck-three-back {
        0% {-moz-transform: scaleX(-1); left: 830px;}        
        100% {left: -300%; -moz-transform: scaleX(-1); }
}

@-o-keyframes movetruck-three-back {
        0% {-o-transform: scaleX(-1); left: 830px;}
        100% {left: -300%; -o-transform: scaleX(-1); }                        
}

@keyframes movetruck-three-back {
        0% {transform: scaleX(-1); left: 830px;}                
        100% {left: -300%;transform: scaleX(-1); }
}

/* End - Truck animations */


/* Animations for goods on truck */

.truck-heart{        
        -webkit-animation-name: movetruck-heart, movetruck-heart-throw;
        -webkit-animation-delay: 1s, 6s;
        -webkit-animation-duration:4s, 1s;
        -webkit-animation-timing-function: ease-out, linear;


        -moz-animation-name: movetruck-heart, movetruck-heart-throw;
        -moz-animation-delay: 1s, 6s;
        -moz-animation-duration:4s, 1s;
        -moz-animation-timing-function: ease-out, ease-out;

        -o-animation-name: movetruck-heart, movetruck-heart-throw;
        -o-animation-delay: 1s, 6s;
        -o-animation-duration:4s, 1s;
        -o-animation-timing-function: ease-out, ease-out;

        animation-name: movetruck-heart, movetruck-heart-throw;
        animation-delay: 1s, 6s;
        animation-duration:4s, 1s;
        animation-timing-function: ease-out, ease-out;

    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

.truck-bulb{        
        -webkit-animation-name: movetruck-bulb, movetruck-bulb-throw;
        -webkit-animation-delay: 1s, 6s;
        -webkit-animation-duration:4s, 1s;
        -webkit-animation-timing-function: ease-out, linear;


        -moz-animation-name: movetruck-bulb, movetruck-bulb-throw;
        -moz-animation-delay: 1s, 6s;
        -moz-animation-duration:4s, 1s;
        -moz-animation-timing-function: ease-out, linear;

        -o-animation-name: movetruck-bulb, movetruck-bulb-throw;
        -o-animation-delay: 1s, 6s;
        -o-animation-duration:4s, 1s;
        -o-animation-timing-function: ease-out, linear;

        animation-name: movetruck-bulb, movetruck-bulb-throw;
        animation-delay: 1s, 6s;
        animation-duration:4s, 1s;
        animation-timing-function: ease-out, linear;

    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

.truck-star{        
        -webkit-animation-name: movetruck-star, movetruck-star-throw;
        -webkit-animation-delay: 1s, 6s;
        -webkit-animation-duration:4s, 1s;
        -webkit-animation-timing-function: ease-out, linear;


        -moz-animation-name: movetruck-star, movetruck-star-throw;
        -moz-animation-delay: 1s, 6s;
        -moz-animation-duration:4s, 1s;
        -moz-animation-timing-function: ease-out, linear;

        -o-animation-name: movetruck-star, movetruck-star-throw;
        -o-animation-delay: 1s, 6s;
        -o-animation-duration:4s, 1s;
        -o-animation-timing-function: ease-out, linear;

        animation-name: movetruck-star, movetruck-star-throw;
        animation-delay: 1s, 6s;
        animation-duration:4s, 1s;
        animation-timing-function: ease-out, linear;

    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}


@-webkit-keyframes movetruck-heart {        
        0% {left: 138px;}
        100% {left: 959px;}
}

@-moz-keyframes movetruck-heart {        
        0% {left: 138px;}
        100% {left: 959px;}
}

@-o-keyframes movetruck-heart {        
        0% {left: 138px;}
        100% {left: 959px;}
}

@keyframes movetruck-heart {        
        0% {left: 138px;}
        100% {left: 959px;}
}

@-webkit-keyframes movetruck-bulb {        
        0% {left: 75px;}
        100% {left: 900px;}
}

@-moz-keyframes movetruck-bulb {        
        0% {left: 75px;}
        100% {left: 900px;}
}

@-o-keyframes movetruck-bulb {        
        0% {left: 75px;}
        100% {left: 900px;}
}

@keyframes movetruck-bulb {        
        0% {left: 75px;}
        100% {left: 900px;}
}


@-webkit-keyframes movetruck-star {        
        0% {left: 7px;}
        100% {left: 837px;}
}

@-moz-keyframes movetruck-star {        
        0% {left: 7px;}
        100% {left: 837px;}
}

@-o-keyframes movetruck-star {        
        0% {left: 7px;}
        100% {left: 837px;}
}

@keyframes movetruck-star {        
        0% {left: 7px;}
        100% {left: 837px;}
}


@-webkit-keyframes movetruck-heart-throw {        
        0%{ -webkit-transform:translate(50px,50px) rotate(0deg) translate(-50px,-50px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -webkit-transform:translate(50px,50px) rotate(90deg) translate(-50px,-50px) rotate(-90deg); opacity: 0;}
}

@-moz-keyframes movetruck-heart-throw {        
        0%{ -moz-transform:translate(50px,50px) rotate(0deg) translate(-50px,-50px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -moz-transform:translate(50px,50px) rotate(90deg) translate(-50px,-50px) rotate(-90deg); opacity: 0;}
}
@-o-keyframes movetruck-heart-throw {        
        0%{ -o-transform:translate(50px,50px) rotate(0deg) translate(-50px,-50px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -o-transform:translate(50px,50px) rotate(90deg) translate(-50px,-50px) rotate(-90deg); opacity: 0;}
}

@keyframes movetruck-heart-throw {        
        0%{ transform:translate(50px,50px) rotate(0deg) translate(-50px,-50px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ transform:translate(50px,50px) rotate(90deg) translate(-50px,-50px) rotate(-90deg); opacity: 0;}
}

@-webkit-keyframes movetruck-bulb-throw {        
        0%{ -webkit-transform:translate(75px,75px) rotate(0deg) translate(-75px,-75px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -webkit-transform:translate(75px,75px) rotate(90deg) translate(-75px,-75px) rotate(-90deg); opacity: 0;}
}

@-moz-keyframes movetruck-bulb-throw {        
        0%{ -moz-transform:translate(75px,75px) rotate(0deg) translate(-75px,-75px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -moz-transform:translate(75px,75px) rotate(90deg) translate(-75px,-75px) rotate(-90deg); opacity: 0;}
}

@-o-keyframes movetruck-bulb-throw {        
        0%{ -o-transform:translate(75px,75px) rotate(0deg) translate(-75px,-75px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -o-transform:translate(75px,75px) rotate(90deg) translate(-75px,-75px) rotate(-90deg); opacity: 0;}
}

@keyframes movetruck-bulb-throw {        
        0%{ transform:translate(75px,75px) rotate(0deg) translate(-75px,-75px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ transform:translate(75px,75px) rotate(90deg) translate(-75px,-75px) rotate(-90deg); opacity: 0;}
}

@-webkit-keyframes movetruck-star-throw {        
        0%{ -webkit-transform:translate(100px,100px) rotate(0deg) translate(-100px,-100px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -webkit-transform:translate(100px,100px) rotate(90deg) translate(-100px,-100px) rotate(-90deg); opacity: 0;}
}

@-moz-keyframes movetruck-star-throw {        
        0%{ -moz-transform:translate(100px,100px) rotate(0deg) translate(-100px,-100px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -moz-transform:translate(100px,100px) rotate(90deg) translate(-100px,-100px) rotate(-90deg); opacity: 0;}
}

@-o-keyframes movetruck-star-throw {        
        0%{ -o-transform:translate(100px,100px) rotate(0deg) translate(-100px,-100px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ -o-transform:translate(100px,100px) rotate(90deg) translate(-100px,-100px) rotate(-90deg); opacity: 0;}
}

@keyframes movetruck-star-throw {        
        0%{ transform:translate(100px,100px) rotate(0deg) translate(-100px,-100px) rotate(0deg);                }
        90%{opacity: 1;}
        100%{ transform:translate(100px,100px) rotate(90deg) translate(-100px,-100px) rotate(-90deg); opacity: 0;}
}
/* End - Goods animations */

/* Animations for the rocket on the home page. */

.rocket{
        -webkit-animation: liftoff 5s linear;        
        -moz-animation: liftoff 5s linear;
        -o-animation: liftoff 5s linear;
        animation: liftoff 5s linear;


    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-delay: 7s;
        -moz-animation-delay: 7s;
        -o-animation-delay: 7s;
        animation-delay: 7s;
}

@-webkit-keyframes liftoff {
        0% {bottom: 12px;}
        100% {bottom: 700px; transform:rotateX(30deg);}
}

@-moz-keyframes liftoff {
        0% {bottom: 12px;}
        100% {bottom: 700px;transform:rotateX(30deg);}
}

@-o-keyframes liftoff {
        0% {bottom: 12px;}
        100% {bottom: 700px;transform:rotateX(30deg);}                        
}

@keyframes liftoff {
        0% {bottom: 12px;}
        100% {bottom: 700px;transform:rotateX(30deg);}
}

/* End - rocket animations */

.cloud1{
        -webkit-animation: cloud-animation1 20s linear;        
        -moz-animation: cloud-animation1 20s linear;
        -o-animation: cloud-animation1 20s linear;
        animation: cloud-animation1 20s linear;
        
        -webkit-animation-direction: alternate;
        -moz-animation-direction: alternate;
        -o-animation-direction: alternate;
        animation-direction: alternate;        

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

@-moz-keyframes cloud-animation1 {
        0% {right: 10px;}
        100% {right: 40px;}
}

@-webkit-keyframes cloud-animation1 {
        0% {right: 10px;}
        100% {right: 40px;}
}

@-o-keyframes cloud-animation1 {
        0% {right: 10px;}
        100% {right: 40px;}
}


@eyframes cloud-animation1 {
        0% {right: 10px;}
        100% {right: 40px;}
}


.cloud2{
        -webkit-animation: cloud-animation2 25s linear;        
        -moz-animation: cloud-animation2 25s linear;
        -o-animation: cloud-animation2 25s linear;
        animation: cloud-animation2 25s linear;
        
        -webkit-animation-direction: alternate;
        -moz-animation-direction: alternate;
        -o-animation-direction: alternate;
        animation-direction: alternate;        

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

@-moz-keyframes cloud-animation2 {
        0% {right: 96px;}
        100% {right: 0px;}
}

@-webkit-keyframes cloud-animation2 {
        0% {right: 96px;}
        100% {right: 0px;}
}

@-o-keyframes cloud-animation2 {
        0% {right: 96px;}
        100% {right: 0px;}
}


@eyframes cloud-animation2 {
        0% {right: 96px;}
        100% {right: 0px;}
}


.cloud3{
        -webkit-animation: cloud-animation3 25s linear;        
        -moz-animation: cloud-animation3 25s linear;
        -o-animation: cloud-animation3 25s linear;
        animation: cloud-animation3 25s linear;
        
        -webkit-animation-direction: alternate;
        -moz-animation-direction: alternate;
        -o-animation-direction: alternate;
        animation-direction: alternate;        

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

@-moz-keyframes cloud-animation3 {
        0% {right: 0px;}
        100% {right: 30px;}
}

@-webkit-keyframes cloud-animation3 {
        0% {right: 0px;}
        100% {right: 30px;}
}

@-o-keyframes cloud-animation3 {
        0% {right: 0px;}
        100% {right: 30px;}
}


@eyframes cloud-animation3 {
        0% {right: 0px;}
        100% {right: 30px;}
}


@-webkit-keyframes fadeOutUp {
        0% {
                opacity: 1;
                -webkit-transform: translateY(0);
        }
        
        100% {
                opacity: 0;
                -webkit-transform: translateY(-50px);
        }
}
@-moz-keyframes fadeOutUp {
        0% {
                opacity: 1;
                -moz-transform: translateY(0);
        }
        
        100% {
                opacity: 0;
                -moz-transform: translateY(-50px);
        }
}
@-o-keyframes fadeOutUp {
        0% {
                opacity: 1;
                -o-transform: translateY(0);
        }
        
        100% {
                opacity: 0;
                -o-transform: translateY(-50px);
        }
}
@keyframes fadeOutUp {
        0% {
                opacity: 1;
                transform: translateY(0);
        }
        
        100% {
                opacity: 0;
                transform: translateY(-50px);
        }
}

.fadeOutUp {
        -webkit-animation-name: fadeOutUp !important;
        -moz-animation-name: fadeOutUp !important;
        -o-animation-name: fadeOutUp !important;
        animation-name: fadeOutUp !important;
        
        -webkit-animation-duration:500ms;
        -webkit-animation-timing-function: linear;

        
        -moz-animation-duration:500ms;
        -moz-animation-timing-function: linear;
        
        -o-animation-duration:500ms;
        -o-animation-timing-function: linear;
        
        animation-duration:500ms;
        animation-timing-function: linear;

}

@-webkit-keyframes fadeInDown {
        0% {
                opacity: 0;
                -webkit-transform: translateY(-20px);
        }
        
        100% {
                opacity: 1;
                -webkit-transform: translateY(0);
        }
}

@-moz-keyframes fadeInDown {
        0% {
                opacity: 0;
                -moz-transform: translateY(-20px);
        }
        
        100% {
                opacity: 1;
                -moz-transform: translateY(0);
        }
}

@-o-keyframes fadeInDown {
        0% {
                opacity: 0;
                -o-transform: translateY(-20px);
        }
        
        100% {
                opacity: 1;
                -o-transform: translateY(0);
        }
}

@keyframes fadeInDown {
        0% {
                opacity: 0;
                transform: translateY(-20px);
        }
        
        100% {
                opacity: 1;
                transform: translateY(0);
        }
}

.fadeInDown {
        -webkit-animation-name: fadeInDown;
        -moz-animation-name: fadeInDown;
        -o-animation-name: fadeInDown;
        animation-name: fadeInDown;

}

/*#content-wrapper{        
        -webkit-animation-duration: 0.6s;
         -moz-animation-duration: 0.6s;
         -o-animation-duration: 0.6s;
         animation-duration: 0.6s;
        
        -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
         animation-fill-mode: both;
        
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;
}*/