/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require custom_foundation
 *= require_self
 *= require vendor
 *= require_tree .
 *= require jquery.ui.dialog
*/

// @import "contenteditable/contenteditable";


@import "common";

html {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  margin-top:80px;

}

.main-container {
  height: 100%;
  width: 100%;
}

#work-together-block, #contact-us-banner {
  background: #ECE6D9;
  font-size:25px;
  text-align:center;
  padding:8%;
  a {
    margin: 0 auto;
    display:block;
  }
}
