@import "common";

#gutter {

}

body.default section.primary.wall-of-text {

}

section.primary {
    .post-author-image {

    }
    .post-info-wrapper, .post-info {

    }

    .post-info-wrapper { margin-bottom: 10px; }

    .post-info {

    }
    .post-body {
        p {

        }
        hr {

        }
        .meta {

        }

        em {

        }
    }

    .pagination {

    }
}

.edit-link a {
display:block !important;
border:none !important;
padding-bottom: 150px;
content: ' ';
font-size:11px !important;
}



