@import "common";

section.primary .post-info-wrapper {
  margin-bottom: 10px;
}

.edit-link a {
  display: block !important;
  border: none !important;
  padding-bottom: 150px;
  content: ' ';
  font-size: 11px !important;
}

blockquote p {
  color: $gray !important;
}
