@import "common";


#tagline {
	width: 100%;
	padding-top: 50px;
	margin-bottom: -121px;
	text-align: center;

	h3 {
		color: #FFFFFF;
	}	
}

#laptop_image {
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	position: relative;
}

#page_arrow {
	position: absolute;
	bottom: 53%;

	height: 53px;
	width: 30px;
}



#page_arrow.prev {
	left: 0;
	background: image-url("previous_arrow.png");
}
#page_arrow.next {
	right: 0;
	background: image-url("next_arrow.png")
}

#page_arrow:hover {
	background-position: 0px -53px;
}

#tagline.closeoutbikes {
	background-color: $closeoutbike-bg;
}
#tagline.textus {
	background-color: $textus-bg;	
}
#tagline.mobilizeart {
	background-color: $mobilizeart-bg;
}
#tagline.gigdog {
	background-color: $gigdog-bg;
}
#tagline.greeneggs {
	background-color: $greeneggs-bg;
}
#tagline.scheduleshare {
	background-color: $scheduleshare-bg;
}

#case-study-middle-row {
	height: 210px;
	padding-top: 160px;
	background-color: $grey-white;
	z-index: 1;
	position: relative;
}

#case-study-steps {
  padding-top: 70px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e9e9e9;

  .row {
  	max-width: 833px;
  	margin-left: auto;
  	margin-right: auto;
  }

  h3 {
    margin-top: 0px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}