@import "common";

#tagline {
	height: 550px;
	width: 100%;
	padding-top: 50px;
	text-align: center;
	background-color: $steel-gray;
}

#project-screen {
	margin-top: 50px;
	background: image-url("closeoutbike_laptop.png") no-repeat;
	height: 518px;
	width: 890px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	position: relative;

}

#about-project {
	height: 450px;
	padding-top: 160px;
	background-color: $grey-white;
	z-index: 1;
	position: relative;

	h4 {
		color: $text-grey;
	}

	.row .column.seven {
		padding-left: 50px;
		padding-right: 40px;
	}

	.row .column.five {
		padding-left: 10px;
		padding-right: 50px;
	}
}

#logo-versions {
	background-color: #FFFFFF;
	height: 850px;
	padding-top: 50px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;


	h3 {
		color: black;
	}

	h4 {
		margin-left: 200px;
		margin-right: 200px;
		color: $text-grey;
	}
}

#selectors {
	background: image-url("selectors.png") no-repeat;
	margin-top: 50px;
	height: 42px;
	width: 843px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#logo-options {
	background: image-url("closeoutbike_logos.png") no-repeat;
	margin-top: 20px;
	height: 137px;
	width: 1033px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#arrow-down {
	background: image-url("arrow-down.png") no-repeat;
	margin-top: 40px;
	height: 56px;
	width: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#selected-logo {
	background: image-url("closeoutbike_selected_logo.png") no-repeat;
	margin-top: 60px;
	height: 220px;
	width: 440px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#project-design {
	background-color: #FCFCFC;
	height: 1100px;
	padding-top: 50px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;


	h3 {
		color: black;
	}

	h4 {
		margin-left: 200px;
		margin-right: 200px;
		color: $text-grey;
	}
}

#design-image {
	background: image-url("closeoutbike_design.png") no-repeat;
	margin-top: 50px;
	height: 650px;
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	border-radius: 13px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}



