.client-list {
  padding-top: 30px;
  margin: auto;

  div {
    width: 164px;
    height: 150px;
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
    cursor: pointer;
  }

  div:last-child:after {
    clear: both;
  }
}
