@import "common";

#footer {
  width:65%;
  margin:0 auto;
  display:block;
  list-style-type: none;
  padding-top:2%;
  padding-bottom:5%;
  #footer-nav {
    width:100%;
    ul{
      width:100%;
      li {
        width:25%;
        display:block;
        float:left;
        a {
          display:block;
          width:100%;
          img {
            display:block;
            margin:0 auto;

          }
        }
      }
    }
  }
}

@media (max-width: $mobile-view-size) {
  #footer #footer-nav ul{
    #footer-icon li {
      width:100% !important;
      img {
        padding-top:10px !important;
        width:30% !important;
      }
    }
    li{
      width:33.3%;
      img {
        width:90% !important;
        padding:0px !important;
        margin-bottom:20px !important;
      }
    }
  }
}


