@import "common";

footer {
  z-index: 10;
  position: relative;
  background: #16171a;
  padding: 50px 0px 60px;
  color: #818181;

  h3, h4, h5, a {
  font-family: "Merriweather Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.1;
  }

  h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #707070;
  }

  h4 {
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
    color: #B8B8B8;
  }

  h5 {
    font-size: 11px;  
    font-weight: bold;
    text-transform: none;
    color: #B8B8B8;
  }
}

#footer-with-map {
  padding-bottom: 508px;
}



#together {
  background: $grey-white;
  position: relative;

  padding-top: 50px; 
  padding-bottom: 30px;

  h3 {
    color: #535353;
    float: right;
    margin-right: 10px;
  }
}

#work-together {
  float: left;
 }

#site-links {

  z-index: 10;
  background: white;

  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 35px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
  }
} 

#footer-info {
  padding-bottom: 50px;
  border-bottom: 1px solid #303030;
}

#footer-logo {
  width: 130px;
}

#location {
  width: 235px;
  float: left;
}

#social {
  width: 70px;

  h3 {
    float: right;
  }

  img {
    float: right;
    padding-top: 10px;
  }
}

#copyright {
  padding-top: 20px;
  h3, a {
    text-transform: uppercase;
    font-weight: normal;
    color: #505050;
  }
  a {
    font-size: 11px;
    float: right;
  }

  img {
    margin-top: 7px;
  }
}