@import "compass/reset";
@import "common";
@import "grid";

.button-link {
  a {
    @include border-radius(4px);
    background-color: $blue;
    color: $dark-blue;
    padding: 5px 10px;
    font-size: 12px;
    @include pt-sans;

  }
}

.blue-x {
  color: $blue;
}

body {

}

em {

}

section, div, span, p {

}

ul, ol {

}

ol {

}

ul {

}

li {

}

p {

}

h1, h2, h3, h4, h5, h6 {

}

#canvas {

}

#header-wrapper {

}

header {

}

#content-wrapper {

}

#content {

}

footer {

    a {

    }
    h3 {

    }
    h4 {

    }
    #contact {

    }
    #careers {

    }
    li {
    }
    p {
    }
    section, span, p {

    }
}

#content-footer {

}

@include sticky-footer(180px, "#content-canvas", "#content-footer", "footer");

#charlottesville, #boulder {
    span {

    }
}

#email {
  @include column(4)
}
#charlottesville {
  @include column(6)
}
#boulder {
  @include column(6)
}
#twitter_img {

}

section.primary, section.secondary {
    h2 {

    }
    h3 {

    }
    h4 {

    }

    a {

    }
    em {

    }

}

a {
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.wall-of-text {

}

.section-title {

}
