@import "common";


#header {
  min-height: 110px;
  width: 100%;
  background: #FFFFFF;
  opacity: 1;
  z-index: 10;
  position: fixed;
  margin-top: -110px;

  -moz-box-shadow: 0 0 6px #E0E0E0;
  -webkit-box-shadow: 0 0 6px #E0E0E0;
  box-shadow: 0 0 6px #E0E0E0;
}

#header-content {
  position: relative;

  img {
    margin-top: 25px;
  }
}

nav ul {
  float: right;
  margin-top: 53px;
}

nav ul li {
  list-style-type: none;
  float: left;
  margin-left: 40px;
}

nav ul li a {
  color: #535353;
  text-transform: uppercase;
  font-family: "Merriweather Sans", Georgia;
  font-size: 14px;
  padding-bottom: 2px;
}

nav ul li a:hover, nav ul li a.active {
  border-bottom: 1px solid #535353;
  color: #535353;
}