@import "common";

.main-container, #site-links, #together {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

.side-menu {
  margin-top: -110px;
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  width: 150px;
  background: gray;
}

#header {
  min-height: 110px;
  width: 100%;
  background: #FFFFFF;
  opacity: 1;
  z-index: 10;
  position: fixed;
  margin-top: -110px;

  -moz-box-shadow: 0 0 6px #E0E0E0;
  -webkit-box-shadow: 0 0 6px #E0E0E0;
  box-shadow: 0 0 6px #E0E0E0;
}

#header-content {
  position: relative;

  img {
    margin-top: 25px;
  }
}

nav .burger {
  display: none;
}

nav {
  overflow: hidden;
}

@media (max-width: 960px) {
  nav ul { display: none; }
  nav .burger { display: block; }
}

nav ul.mobile {
  display: block;
  float: none;
  li {
    float: none;
    display: block;
    width: 100%;
    padding-bottom: 16px;
    margin-left: 0px;
  }
}

.burger {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: rgba(0,0,0,0.1);
  padding-top: 12px;
  border-radius: 5px;
  width: 60px;
  height:60px;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,0.25);
  }
  .patty {
    content: '';
    background: image-url("burger.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 40px;
    height: 35px;
    margin: auto;
  }
}

nav ul {
  float: right;
  margin-top: 53px;
}

nav ul li {
  list-style-type: none;
  float: left;
  margin-left: 40px;
}

nav ul li a {
  color: #535353;
  text-transform: uppercase;
  font-family: "Merriweather Sans", Georgia;
  font-size: 14px;
  padding-bottom: 2px;
}

nav ul li a:hover, nav ul li a.active {
  border-bottom: 1px solid #535353;
  color: #535353;
}