// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";
@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
@import "grid";

html {
  border-top: 6px solid #000;
  border-left: 6px solid #000;
  border-right: 6px solid #000;
}

body {
  background: transparent image-url("tile_background.png");
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  html .clearfix, &:first-child+html .clearfix {
    zoom: 1;
  }
}

/* IE6 */
/* IE7 */

.w960 {
  width: 960px;
  margin: 0px auto;
}

header {
  position: relative;
}

#logo {
  width: 169px;
  height: 100px;
  background: transparent image-url("logo.png") no-repeat;
  display: block;
  margin-top: 20px;
}

#ribbon {
  width: 50px;
  height: 117px;
  background: transparent image-url("ribbon.png") no-repeat;
  position: absolute;
  display: block;
  right: 0px;
  top: -30px;
  text-align: center;
  a {
    display: block;
    margin-top: 15px;
  }
}

nav {
  border-top: 2px solid #1588c3;
  border-bottom: 1px solid #1588c3;
  margin: 24px auto 30px !important;

  ul {
    list-style: none;
    font: 14px / 24px "PT Sans", sans-serif;
    li {
      float: left;
      padding: 18px 42px;
      background: transparent image-url("menu-border.png") 100% 9px no-repeat;
      &:last-child {
        background: none;
      }
      a {
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        &:hover, &.selected {
          color: #1588c3;
        }
      }
    }
  }
}

#blueprint-wrapper {
  margin: 0px auto 10px;
  width: 387px;
  height: 438px;
  position: relative;

  a {
    position: absolute;
    width: 24px;
    height: 24px;
    background: image-url("add-button.png") no-repeat;

    &.point1 {
      left: 155px;
      top: 73px;
    }
    &.point2 {
      left: 120px;
      top: 213px;
    }
    &.point3 {
      left: 235px;
      top: 230px;
    }
    &.point4 {
      left: 131px;
      top: 321px;
    }
  }
}

section#blueprint-image {
  text-align: center;
  padding-bottom: 75px;
  h1 {
    color: #FFF;
    font: bold 48px 'PT Sans', sans-serif;
    text-transform: uppercase;
  }
  p {
    color: #969595;
    font: 14px / 24px "Droid Serif", serif;
    margin: 22px 0px;
  }
}

.blue-arrow {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 40px 4px 15px;
  background: image-url("arrow_blue_btn.png") no-repeat scroll 96% 9px #1588c3;
  color: #004264;
  text-decoration: none;
  font: 12px 'PT Sans', sans-serif;
  &:hover {
    background: image-url("arrow_blue_btn.png") no-repeat scroll 96% 10px white;
  }
}

section {
  &#features ul {
    border-top: 2px solid #1588c3;
    border-bottom: 2px solid #1588c3;

    li {
      float: left;
      width: 210px;
      background: image-url("services-border.png") 100% 0px no-repeat;
      padding: 0px 55px;
      text-align: center;
      margin: 40px 0px;
      &:last-child {
        background: none;
      }
      img {
        &.people {
          margin: 25px auto 35px;
        }
        &.gears {
          margin: 25px auto;
        }
        &.beaker {
          margin: 15px auto 25px;
        }
      }
      h2 {
        font: bold 18px 'PT Sans', sans-serif;
        color: #FFF;
        text-transform: uppercase;
      }
      span.blue {
        color: #1588c3;
      }
      a {
        margin-bottom: 5px;
      }
      p {
        color: #969595;
        font: 12px 'Droid Serif', serif;
        margin-bottom: 30px;
      }
    }
  }

  &#contacts header, &#clients header {
    overflow: hidden;
  }

  &#contact-us {
    text-align: center;
    padding: 53px 0px;
    border-bottom: 2px solid #1588c3;
    h2 {
      font: bold 18px 'PT Sans', sans-serif;
      color: #FFF;
      text-transform: uppercase;
      margin: 25px 0px;
    }
    p {
      color: #969595;
      font: 12px 'Droid Serif', serif;
      margin-bottom: 30px;
    }
    a.first {
      margin-right: 28px;
    }
  }

  &#featured-projects {
    header {
      background: image-url("projects-border.png") 0px 100% no-repeat;
      overflow: hidden;
    }
    ul {
      margin-top: 55px;
    }
    header {
      h2 {
        font: bold 18px 'PT Sans', sans-serif;
        color: #FFF;
        text-transform: uppercase;
        margin: 25px 0px;
        float: left;
        padding: 5px 0px 5px 48px;
        background: image-url("star.png") 0px 0px no-repeat;
      }
      a {
        float: right;
        margin-top: 30px;
      }
    }

    ul {
      list-style: none;
      border-bottom: 2px solid #1588c3;
      li {
        float: left;
        img {
          width: 460px;
          border: 1px solid #000;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          float: left;
          margin-right: 18px;
          margin-bottom: 18px;
          &.even {
            margin-right: 0px;
          }
        }
      }
    }
  }

  &#our-clients {
    header {
      background: image-url("projects-border.png") 0px 100% no-repeat;
    }
    ul {
      margin-top: 55px;
    }
    header {
      h2 {
        font: bold 18px 'PT Sans', sans-serif;
        color: #FFF;
        text-transform: uppercase;
        margin: 25px 0px;
        float: left;
        padding: 5px 0px 5px 48px;
        background: image-url("star.png") 0px 0px no-repeat;
      }
      a {
        float: right;
        margin-top: 30px;
      }
    }
    ul {
      list-style: none;
      li {
        float: left;
        width: 159px;
        height: 150px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        float: left;
        background: #1588c3;
        line-height: 200px;
        text-align: center;
        img {}
        &.last {
          border-right: none;
        }
        &.bottom {
          border-bottom: none;
        }
      }
    }
  }
}

footer {
  background: #1588c3;
  padding-bottom: 200px;
  margin-top: 170px;
  position: relative;
  overflow: hidden;
}

#footer-nav {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: -56px;
}

section#footer-content {
  margin-top: 40px;
  h2 {
    color: #FFF;
    padding-left: 50px;
    font: bold 18px 'PT Sans', sans-serif;
    line-height: 32px;
    background: image-url("blogger.png") 0px 0px no-repeat;
    text-transform: uppercase;
    border-bottom: 1px solid #004264;
    padding-bottom: 20px;
  }
}

/*
.section-title {
  @include pt-sans-header;
}

#blueprint-image {
  @include centered;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

#tagline {
  text-align: center;

  margin-bottom: 30px;

  h1 {
    @include pt-sans-bold;
    font-size: 48px;
  }

  #tagline-body {
    color: $gray;
    @include centered;
    width: 700px;
    font-size: 14px;
  }
}

#how-we-build {
  margin-top: 20px;
}

.divider {
  @include solid-thick-top;
  margin-top: 45px;
}

#features {
  margin-top: 35px;

  h3 {
    @include pt-sans-header;
    margin-top: 26px;
  }

  section {
    @include centered;
    text-align: center;
    width: 320px;
    float: left;

    img {
      padding-bottom: -20px;
    }
  }

  article {
    margin-top: 25px;
    width: 210px;
    padding-left: 55px;

    p {
      color: $gray;
      margin-top: 16px;
    }

    .button-link {
      margin-top: 30px;
    }
  }

  section.middle {
    width: 318px;
    border-left: 1px $blue dashed;
    border-right: 1px $blue dashed;
  }
}

#contact-us {

  margin-top: 50px;
  text-align: center;

  #envelope {
    margin-bottom: 22px;
  }

  #contact-title {
    @include pt-sans-header;
  }

  #contact-body {
    margin-top: 22px;
    color: $gray;
  }

  #contact-links {
    text-align: left;

    margin-top: 40px;

    div {
      display: inline;
    }

    .button-link {
      margin-left: 320px;
    }

    .white-button-link {
      margin-left: 65px;
    }
  }
}

#featured-projects {
  @include projects-clients-header;

  .section-content {
    .featured-project {
      @include border-radius(4px);
      width: 456px;
      height: 180px;
      background-color: $blue;
      border: 2px black solid;
    }

    .project-row {
      div {
        float: left;
      }
      div:last-child {
        margin-left: 40px;
      }
    }

    .project-row:last-child {
      margin-top: 34px;
    }
  }
}

#our-clients {
  @include projects-clients-header;

  .header .callout-link {
    width: 133px;
  }

  .client-row {

    .client-logo {
      float: left;
      background: $blue;
      border: 1px black solid;
      width: 158px;
      height: 148px;


      img {
        //
        // NOTE:
        // vertically centering things in CSS is a disaster, so we're going to make the following restrictions on
        // client logo images:
        // 1) the width must be 150px or less (we can center horizontally without much trouble, so we have flexibility here)
        // 2) the height *MUST* be 100px. No variation. Pad it out with transparent pixels. Then we can just put a margin-top on the images and they'll 'magically' vertically center
        //
        display: block;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        margin-top: 24px;
      }
    }
  }
}

//#startups {
//  img {
//    padding-top: 26px;
//  }
//}


#main-feature {

    h2 {

    }
    #text-wrapper {

    }


    .quote {

        .credit {

        }
    }

    a {

    }
}

#blog {
  margin-top: 50px;
  padding-top: 18px;
  
  
  #blog-return-arrow{
    @include centered;
    height: 150px;
    -webkit-border-radius: 200px 200px 0 0;
    background-color: $blue;
    width: 140px;
    height: 70px;
    text-align: center;
    font-size: 44px;
    color: $dark-blue;
  }
  
  .section-title{
    .blog-icon{
      background-image: url('blog.png');
      background-repeat: no-repeat;
      display: block;
    }
    background-color: $blue;
    padding-top: 50px;
    display: block;
    padding-left: 50px;
    height: 85px;
    border-bottom: 1px #000000 solid;
  }


  .section-content {
    background-color: $blue;
    .blog-post{
      
    }
  }

    .wrapper {

    }

  h3 {
    @include pt-sans-header;
  }
    #subscribe {
        
    }

}

#main-feature, #blog {
}

#text-wrapper {

}

#tagline {

}

#features {
    section {

        article {

        }
    }
    p {

    }

    #you {

    }

    #startups article {
        h3 {

        }

    }
    #enterprise article {
        h3 {

        }

    }
    #you article {

        h3 {

        }
    }
    #title {

    }
}


section#activity-stream {
    @include border-radius(12px);
}

.team-members {

  p {

  }
}

.team-member {
  .float-left {

  }

  .clear {

  }

  .personal-quips {

  }
}

// Taken from the stretching example on Compass' website - http://compass-style.org/examples/compass/layout/stretching/
.stretch-container {
  div {

  }
}
  
.long-stretch-container {

}

.short-stretch-container {

}

.stretched {

 }
 
.stretch-full {

}

.stretch-offset {

}

.stretch-small-offset {

}

.stretch-x {

}

.stretch-y {

}

.client-info {

}

.client-name {

}

.client-url {

}

.client-quote, .what-we-did {

}

.client-quote-sayer {

}

.client-logo {

}

.client-logo img {

}

.service-description {

}

.service-title {

}

*/