@import "common";

body p {
  line-height: 140%;
}

.popover-content p {
  font-size: 12px;
}

.short-white-line {
  width: 40px;
  height: 6px;
  background: white;
  content: ' ';
  margin: 50px auto;
}

.with_maps {
  .graytext {
    font-size: 14px;
  }
  div h5 {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  div .graytext {
    margin-bottom: 5px;
  }
  div img {
    -webkit-transition: all 0.3s ease-out; /* Safari 3.2+, Chrome */
    -moz-transition: all 0.3s ease-out; /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out; /* Opera 10.5–12.00 */
    transition: all 0.3s ease-out; /* Firefox 16+, Opera 12.50+ */
    border: 6px solid white;
    &:hover {
      border: 6px solid $blue;;
    }
  }

}

@media screen and (max-width:550px) {
  body div#slider {
    height: 800px !important;
  }
}

@media screen and (max-width:300px) {
  body div#slider {
    height: 900px !important;
  }
}

.centre {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#slider {
  text-align: center;
  width: 100%;
  height: 700px !important;

  .slide {
    width: 100%;
    left: -1000px;
  }

  .first-slide {
    left: 0px;
  }

  h1 {
    color: white;
    font: bold 48px 'PT Sans', sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }

  p {
    display: block;
    text-align: center;
    color: $gray;
    font-family: "Droid Serif", serif;
    font-size: 18px;
    margin-bottom: 30px;

  }

  h5 {
    margin-bottom: 0px;
  }

}

.graytext {
  display: block;
  //text-align:center;
  color: $gray;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  max-width: 600px;
}

#features {
/* @include w960;*/
  margin-top: 50px;
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  padding: 30px 0px;

  .feature {
    background: image-url("services-border.png") 100% 0px no-repeat;
    text-align: center;
    &:last-child {
      background: none;
    }
    img {
      &.people {
        margin: 25px auto 23px;
      }
      &.gears {
        margin: 25px auto 13px;
      }
      &.beaker {
        margin: 15px auto 13px;
      }
    }
    h2 {
      font: bold 18px 'PT Sans', sans-serif;
      color: white;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    span.blue {
      color: $blue;
    }
    a {
      margin-bottom: 5px;
    }
    p {
      color: $gray;
      font: 13px 'Droid Serif', serif;
      margin-bottom: 30px;
      line-height: 150%;
    }
  }

}

/*@import "common";
@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";
@import "grid";*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child+html .clearfix {
  zoom: 1;
}

/* IE7 */

.w960 {
/*width: 960px;*/
  margin: 0px auto;
}

#blueprint-wrapper {
  margin: 0px auto 10px;
  max-width: 387px;
  height: 438px;
  position: relative;
  left: 20px;
  a {
    position: absolute;
    width: 24px;
    height: 24px;
    background: image-url("add-button.png") no-repeat;
    padding-top: 12px;
    padding-left: 3px;

    &.point1 {
      left: 155px;
      top: 73px;
    }
    &.point2 {
      left: 120px;
      top: 213px;
    }
    &.point3 {
      left: 235px;
      top: 230px;
    }
    &.point4 {
      left: 131px;
      top: 321px;
    }
  }
}

section#blueprint-image {

  text-align: center;
  padding-bottom: 75px;
  position: relative;
  h1 {
    color: white;
    font: bold 48px 'PT Sans', sans-serif;
    text-transform: uppercase;
  }
  p {
    color: $gray;
    font: 14px / 24px "Droid Serif", serif;
    margin: 22px 0px;
  }
}

#intro-wrapper {
  width: 100%;
  position: relative;
  top: 30px;
}

#slider-buttons {
  position: absolute;
  list-style: none;
  right: 0px;
  li {
    display: block;
    width: 10px;
    height: 10px;
    background: image-url("slider-bullet.png") 0px 0px no-repeat;
    margin-bottom: 10px;
  }
}

#slider-prev {
  display: block;
  position: absolute;
  left: -2px;
  width: 59px;
  height: 59px;
  top: 244px;
}

#slider-next {
  display: block;
  position: absolute;
  right: -2px;
  width: 59px;
  height: 59px;
  top: 244px;
}

#slider-buttons li.selected {
  background-position: 0px -11px;
}

#features {

  .feature {
    background: image-url("services-border.png") 100% 0px no-repeat;
    text-align: center;
    &:last-child {
      background: none;
    }
    img {
      &.people {
        margin: 25px auto 23px;
      }
      &.gears {
        margin: 25px auto 13px;
      }
      &.beaker {
        margin: 15px auto 13px;
      }
    }
    h2 {
      font: bold 18px 'PT Sans', sans-serif;
      color: white;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    span.blue {
      color: $blue;
    }
    a {
      margin-bottom: 5px;
    }
    p {
      color: $gray;
      font: 13px 'Droid Serif', serif;
      margin-bottom: 30px;
      line-height: 150%;
    }
  }

}

#contacts header, #clients header {
  overflow: hidden;
}

#contact-us {

  text-align: center;
  padding: 53px 0px 0px 0px;
  h2 {
    font: bold 18px 'PT Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 25px 0px;
  }
  p {
    color: $gray;
    font: 13px 'Droid Serif', serif;
    margin-bottom: 30px;
  }
  a.first {
    margin-right: 28px;
  }
}

@media screen and (max-width:960px) {
  #featured-projects ul {
    max-width: 460px !important;
    margin: auto;
  }

  #featured-projects ul li {
    &:nth-child(odd) {
      margin-right: 0 !important;
    }
  }
}

#featured-projects {

  header {
    background: image-url("projects-border.png") 0px 100% repeat-x;
    overflow: hidden;

    h2 {
      font: bold 18px 'PT Sans', sans-serif;
      color: white;
      text-transform: uppercase;
      margin: 25px 0px;
      float: left;
      padding: 5px 0px 5px 48px;
      background: image-url("star.png") 0px 0px no-repeat;
    }
    a {
      float: right;
      margin-top: 30px;
    }
  }

  ul {
    list-style: none;
    margin-top: 55px;
    li {
      max-width: 460px;
      float: left;
      position: relative;
      overflow: hidden;
      &:nth-child(odd) {
        margin-right: 7%;
      }
      div {
        overflow: hidden;
        &.overlay {
          width: 100%; /*461px; */
          height: 183px;
          background: rgba(0, 0, 0, 0.8);
          -webkit-border-radius: 5px;

          border-radius: 5px;
          left: 0px;
          top: 0;
          display: none;
          position: absolute;
        }
        &.link-wrapper {
          margin: 50px auto 0px;
          width: 190px;
        }
        &.separator {
          height: 58px;
          border-left: 1px solid #FFF;
          float: left;
        }
      }
      img {
        width: 460px;
        border: 1px solid black;
        border-radius: 5px;
        float: left;
        margin-right: 35px;
        margin-bottom: 35px;
        &.even {
          margin-right: 0px;
        }
      }
      a {
        &.case {
          display: block;
          width: 62px;
          height: 78px;
          background: url(case-button.png) 0px 0px no-repeat;
          float: left;
          margin-left: 25px;
          &:hover {
            background-position: 0px -78px;
          }
        }
        &.view {
          background: url("view-button.png") no-repeat scroll 0 0 transparent;
          display: block;
          float: left;
          height: 67px;
          margin-right: 25px;
          margin-top: 11px;
          width: 65px;
          &:hover {
            background-position: 0px -67px;
          }
        }
      }
    }
  }
}

#our-clients {
  border-top: 2px solid $blue;

  ul {
    margin-top: 50px;
    list-style: none;
    li {
      float: left;
      width: 164px;
      height: 150px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background: $blue;
      line-height: 200px;
      text-align: center;
      img {
      }
      &.last {
        border-right: none;
      }
      &.bottom {
        border-bottom: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    li.tendril {
      background: $blue url(client_logos/tendril.png) center center no-repeat;
      &:hover {
        background: $blue url(client_logos/tendril_hover.png) center center no-repeat;
      }
    }
  }
}

.white {
  background-color: white;
  &:hover {
    background-color: $blue;
  }
}

h1.formula {
  font: bold 48px 'Pt Sans', sans-serif;
  text-align: left;
  color: #FFFFFF;
  background: image-url("clx-formula.png") no-repeat scroll right 5px transparent;
  text-transform: uppercase;
}

#about-stats {
  background: $blue;
  position: relative;

  a {
    .techlunch {
      position: relative;
      z-index: 5000;
    }
  }
}

#about-us-arrow {
  width: 221px;
  height: 88px;
  position: absolute;
  bottom: -50px;
  left: -111px;
  margin-left: 50%;
  background: image-url("about-arrow.png") no-repeat;
  z-index: -1;
}

#about-stats {
  ul {
    list-style: none;
  }

  ul.team {
    li:first-child {
      background: none;
    }

    li {
      width: 320px;
      float: left;
      color: $dark-blue;
      margin-top: 27px;
      background: image-url("menu-border.png") left 0px repeat-y;
      h3 {
        font: bold 14px 'Droid Sans', sans-serif;
        text-transform: uppercase;
      }

      h2 {
        font: bold 48px/46px 'Droid Sans', sans-serif;
      }

      p {
        font: 12px 'Droid Serif', serif;
        color: $dark-blue;
        margin: 0;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      img {
        float: left;
        margin: 0px 25px;
      }
    }

    li.coffee {
      width: 310px;
    }

    li.tracks {
      width: 333px;
    }

    li.food {
      width: 317px;
    }
  }


  ul.social {
    li {
      float: left;
      color: $dark-blue;
      margin: 60px 0px 40px;
      padding: 0px 11px;
      background: image-url("menu-border.png") left 0px repeat-y;
      &:first-child {
        background: none;
      }
      h3 {
        font: bold 12px 'Droid Sans', sans-serif;
        text-transform: uppercase;
        margin-bottom: 13px;
      }

      h2 {
        font: bold 30px 'Droid Sans', sans-serif;
      }
    }

    li.git {
      position: relative;
      left: 15px;
      width: 185px;
    }

    li.rails {
      width: 140px;
    }

    li.tweets {
      width: 100px;
    }

    li.blog {
      width: 154px;
    }

    li.lunch {
      width: 135px;

      h3 a {
        float: right;
      }
    }

    li.ideas {
      width: 140px;
    }
  }
}

section#team {
  margin-top: 0px;
  position: relative;
  top: 100px;
  overflow: hidden;

  ul {
    list-style: none;
  }
}

@media screen and (max-width: 500px) {
  #team {
    ul li {
      width: 100%;
      text-align: center;
      margin: 0px !important;
      height: 271px;

      a {
        margin: auto !important;
        display: inline-block !important;
      }
    }
  }
}

section#team ul {
  li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
  }

  li.right {
    margin-right: 0px;
  }

  li.last {
    margin-right: 0px;
  }

  li a {
    width: 189px;
    height: 189px;
    font: bold 14px 'PT Sans', sans-serif;
    text-align: center;
    color: #FFF;
    position: relative;
    .portrait {
      position: absolute;
      width: 180px;
      height: 180px;
      border-radius: 90px;
      border: solid 6px #ffffff;

      -webkit-transition: all 0.3s ease-out; /* Safari 3.2+, Chrome */
      -moz-transition: all 0.3s ease-out; /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out; /* Opera 10.5–12.00 */
      transition: all 0.3s ease-out; /* Firefox 16+, Opera 12.50+ */

    }
    &:hover {
      p {
        color: $blue;
      }
      .portrait {
        border: solid 6px $blue;
      }
    }
    p {
      text-decoration: none;
      text-transform: uppercase;
      font: bold 14px 'PT Sans', sans-serif;
      text-align: center;
      color: #FFF;
      -webkit-transition: all 0.3s ease-out; /* Safari 3.2+, Chrome */
      -moz-transition: all 0.3s ease-out; /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out; /* Opera 10.5–12.00 */
      transition: all 0.3s ease-out; /* Firefox 16+, Opera 12.50+ */
    }
  }
}

section#testimonials {
  margin: 120px auto 0px;
  h2 {
    font: bold 18px 'PT Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 25px 0px;
    float: left;
    padding: 5px 0px 5px 48px;
    background: image-url("quote.png") 0px 0px no-repeat;
  }

  header {
    border-top: 2px solid $blue;
    background: image-url("projects-border.png") 0px bottom repeat-x;
    height: 78px;

    h3 {
      font: bold 18px 'PT Sans', sans-serif;
      color: #FFF;
      padding-left: 50px;
      background: image-url("quote.png") no-repeat scroll 0 26px transparent;
      text-transform: uppercase;
      line-height: 78px;
      float: left;
    }
  }

  ul {
    margin-top: 65px;
    li {
      p {
        color: $gray;
        display: block;
        font: 18px/36px 'Droid Serif', serif;
        margin: 0 auto;
        text-align: center;
        max-width: 600px;
      }

      div.author {
        margin: 0px auto;
        height: 30px;
        font: 13px/30px 'PT Sans', sans-serif;
        color: #FFF;
        width: 155px;
        margin-top: 25px;
        img {
          display: block;
          margin-right: 10px;
          float: left;
        }
      }
    }
  }
}

a.test-nav {
  display: block;
  width: 35px;
  height: 35px;
  float: right;
  margin-top: 24px;

  &:hover {
    background-position: 0px -35px;
  }
}

a.test-nav.prev {
  background: image-url("testimonial-prev.png") no-repeat;
  margin-right: 5px;
}

a.test-nav.next {
  background: image-url("testimonial-next.png") no-repeat;
}

#our-clients {

  header {
    background: image-url("projects-border.png") 0px 100% repeat-x;
    overflow: hidden;

    h2 {
      font: bold 18px 'PT Sans', sans-serif;
      color: white;
      text-transform: uppercase;
      margin: 25px 0px;
      float: left;
      padding: 5px 0px 5px 48px;
      background: image-url("star.png") 0px 0px no-repeat;
    }
    a {
      float: right;
      margin-top: 30px;
    }
  }
}

.portfolio-thumbs {
  overflow: hidden;
}

.featured_projects {
  padding: 50px 0px 0px 0px;
}

@media only screen and (max-width: 768px) {
  .featured_projects div {
    margin-left: auto !important;
    margin-right: auto !important;
    position: static !important;
  }

  .featured_projects .fp_img {
    float: none !important;
  }
}

.featured_projects {
  .no1 {
    margin-left: auto;
    margin-right: auto;
  }

  .no2 {
    float: right;
  }

  .fp_img {
    margin-bottom: 50px;
    max-width: 280px;
    max-height: 340px;
    overflow: hidden;
    position: relative;
    border: 5px solid black;
    .overlay {
      width: 100%; /*461px; */
      height: 340px;
      background: rgba(0, 0, 0, 0.8);
      -webkit-border-radius: 0px;

      border-radius: 0px;
      left: 0px;
      top: 0px;
      display: none;
      position: absolute;
    }
    .link-wrapper {
      margin: 120px auto 0px;
      width: 190px;
      overflow: hidden;
    }
    .separator {
      height: 58px;
      border-left: 1px solid #FFF;
      float: left;
    }
    a {
      &.case {
        display: block;
        width: 62px;
        height: 78px;
        background: url(case-button.png) 0px 0px no-repeat;
        float: left;
        margin-left: 25px;
        &:hover {
          background-position: 0px -79px;
        }
      }
      &.view {
        background: url("view-button.png") no-repeat scroll 0 0 transparent;
        display: block;
        float: left;
        height: 67px;
        margin-right: 25px;
        margin-top: 11px;
        width: 65px;
        &:hover {
          background-position: 0px -68px;
        }
      }
    }
  }
}

.folk_name {
  position: absolute;
  right: 0px;
  top: 0px;
}

.displays img {
  margin-top: 50px;
  margin-bottom: 70px;
}

@media only screen and (max-width:500px) {

  #logo {
    margin: auto;
    margin-top: 150px !important;
    margin-bottom: 100px !important;
    display: block;
  }

  .jobs {
    left: 10px !important;
  }

  #ribbon {
    right: 10px !important;
  }

}

@media only screen and (max-width:350px) {

  #blueprint-wrapper {
    height: 338px;
  }
}
