// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

#feature {
    @include column(16);
    height: 420px;
    background: image-url('/assets/feature.jpg');
    h2 {
        @include feature-text(45px);
    }
    #text-wrapper {
        width: 50px;
        background-color: $green;
    }
}

#blog {
    @include column(8);
    @include last;
    @include opacity(0.7);
    background-color: $gray;
    height: 420px;

    h3 {
        @include feature-text(24px);
    }

    #text-wrapper {
        width: 30px;
        background-color: $light-orange;
    }
}

#text-wrapper {
    height: 420px;
    float: right;
}