@import "common";
@import "grid";

/* Font Guide
Two main fonts are PT Sans and Droid Serif

headings are PT Sans Bold

normal text is droid Serif 14pt

button links are PT Sans 12pt
*/

html {
  border-top: 6px solid $black;
  border-left: 6px solid $black;
  border-right: 6px solid $black;
}

body {
  background: transparent image-url("tile_background.png");
}

.divider {
  @include clearfix;
}

.clearfix:after, .divider:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  html .clearfix, &:first-child+html .clearfix {
    zoom: 1;
  }
}

/* IE6 */
/* IE7 */

header {
  position: relative;
}

header#top-header {
  @include w960;
}

nav#main {
  @include w960;
}

#logo {
  width: 169px;
  height: 100px;
  background: transparent image-url("logo.png") no-repeat;
  display: block;
  margin-top: 20px;
}

#ribbon {
  width: 50px;
  height: 117px;
  background: transparent image-url("ribbon.png") no-repeat;
  position: absolute;
  display: block;
  right: 0px;
  top: -30px;
  text-align: center;
  a {
    display: block;
    margin-top: 15px;
  }
}

nav {
  border-top: 2px solid $blue;
  border-bottom: 1px solid $blue;
  margin: 24px auto 30px !important;

  ul {
    list-style: none;
    font: 14px / 24px "PT Sans", sans-serif;
    li {
      float: left;
      padding: 18px 42px;
      background: transparent image-url("menu-border.png") 100% 9px no-repeat;
      &:last-child {
        background: none;
      }
      a {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        &:hover, &.selected {
          color: $blue;
        }
      }
    }
  }
}
