@import "common";
@import "bourbon";

$light_cobalt_blue: #1588c3;
$dark_grey: #666666;

ul {
  list-style-type: none;
}

body {
  -webkit-backface-visibility: hidden;
}

div {
  position: relative;
}

@media (max-width: 1140px) {
  .row {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.clear{
  clear: both;
}

#content {
  margin-top: 110px;
  width: 100%;
  z-index: 1;
  position: relative;
}

#page-section {
  background: #FFFFFF;
  text-align: center;
  padding-top: 50px;
  height: 100%;

  h3 {
    margin-top: 0px;
    color: #535353;
  }
  h4 {
    margin-top: 20px;
    color: $text-grey;
    margin-left: 200px;
    margin-right: 200px;
  }
}

#error-text {
  h1 {
    padding-top: 100px;
    font-size: 200px;
  }
  h2 {
    font-size: 24px;
  }
}

#admin-menu {
  padding-top: 8px;
  background-color: lighten($blue, 50%);
  line-height: 19px;
}

#error_explanation, #error_explanation h2 {
  color: #AA2222;
}

#thank-you-notice {
  color: #535353;
  text-align: center;
  font-size: 220%;
  margin-top: 15px;
}

.error-dialog {
  text-align: center;
}
