@import "common";

#our-approach-header{
 padding-bottom:6%;
  padding-top:4%;
  text-align: center;
  width:80%;
  margin:0 auto;

  h3 {
   color:#4085D4;
   margin-bottom:3%;
   display:block;
  }

}

#step {
    display:block;
    width:90%;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
    height:30%;
    margin-bottom:20px;
    .text {
      display:block;
      width:80%;
      margin-top:1%;
      height:25%;
    }

    .icon {
      width:15%;
      display:block;

      img {
        width:100%;
        padding:2%;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        border-radius: 500px;
        background: $grey-white;
      }
    }

}
