@import "common";
@import "bourbon";

.all-posts {

  background: $grey-white;

  h3 {
    font-size: 42px !important;
    a {
      color: $dark-grey;
    }
  }
  h2 {
    text-align: left;
    font-size: 22px;
    a {
      color: #38A8CC;
    }
  }
}

#post-description {
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e3e1df;
  padding-top: 35px;
  padding-bottom: 25px;
}

#post-description h2{
  margin-top: 10px;
}

#author-info .about-us-avatar{
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  display: inline;
}

#author-info{
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#author-info #posted-by{
  display: inline;
  margin-left: 15px;
  vertical-align: middle;
}

.post-content {
  p {
    font-size: 24px;
    font-family: "Merriweather", serif;
    line-height: 36px;
    color: #535353;
    font-weight: regular;

    a {
      color: #38A8CC;
      text-decoration: underline;
    }
  }
  .thumbnail {
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      img {
        display: block;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
      .caption {
        padding: 9px;
        color: #333;
      }
      .description {
        text-align: center;
        margin: 10px 0 6px;
        font-size: 14px;
        font-family: "Merriweather", serif;
      }
  }
  a.thumbnail:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
       -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
            box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }
}

.post-show {
  padding: 0px 10px;
  background-color: $grey-white;

  p {
    font-size: 20px;
    font-family: "Merriweather Sans", sans-serif;
    line-height: 28px
  }
  .row {
    padding-left: 0px;
    padding-right: 0px;
  }
  h4 {
    font-size: 22px !important;
    color: $dark-grey;
    font-weight: bold;
    font-family: "Merriweather Sans", sans-serif;
  }
  h3 {
    font-size: 38px !important;
    color: $dark-grey;
  }
  h2 {
    text-align: left;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      color: #38A8CC;
    }
  }
  pre {
    line-height: 1.4em;
    font-size: 14px;
    letter-spacing: -0.03em;
  }
  pre .err {
    border: none;
  }
  ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  ol {
    margin-left: 30px;
  }
  li {
    text-align: left;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 20px;
    line-height: 1.45;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $dark-grey;
    a {
      color: #38A8CC;
    }
  }
}

#more-by-author {
  padding-top: 55px;
  padding-bottom: 55px;
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;

  .column.two {
    width: 80px;
  }
  .column.ten {
    float: left;
    padding-left: 30px;
  }

  h2 {
    margin-top: 25px;
  }
}

#post-text {
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e3e1df;
  padding-top: 70px;
  padding-bottom: 30px;
}

#pages {
  height: 60px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 833px;
}

nav span {
  padding-right: 5px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  a {
      color: #38A8CC;
  }
}

.pagination{
  padding-top: 15px;
}

div.sharethis_toolbox {
  display:inline-block;
}
div.sharethis_post_title {
  display:relative;
  top:7px;
  right:-30px;
}
div.sharethis_post_footer {
  float:right;
}

#post-preview-display {
  font-family: "arial", sans-serif;
  display:block;
  margin:20px;
  #google-title {
    color:rgb(26,13,171);
    cursor:pointer;
    font-size: 18px !important;
    line-height: 21px;
    margin:0px;
    font-weight:normal;
  }
  #google-url {
    color:rgb(0,102,33);
    font-size:13px !important;
    line-height: 16px;
    margin:0px;
  }
  #google-description {
    color:rgb(84,84,84);
    font-size:13px;
    line-height:18px;
    width:512px;
    margin:0px;
  }
}