@import "common";
@import "bourbon";

.all-posts {

  background: $grey-white;

  h3 {
    font-size: 42px !important;
    a {
      color: $dark-grey;
    }
  }
  h2 {
    text-align: left;
    font-size: 22px;
    a {
      color: #38A8CC;
    }
  }
}

#post-description {
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e3e1df;
  padding-top: 35px;
  padding-bottom: 25px;
}

#post-description h2{
  margin-top: 10px;
}

#author-info .about-us-avatar{
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  display: inline;
}

#author-info{
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#author-info #posted-by{
  display: inline;
  margin-left: 15px;
  vertical-align: middle;
}

.post-content {
  p {
    font-size: 24px;
    font-family: "Merriweather", serif;
    line-height: 36px;
    color: #535353;
    font-weight: regular;

    a {
      color: #38A8CC;
      text-decoration: underline;
    }
  }
}

.post-show {
  padding: 0px 10px;
  background-color: $grey-white;

  h3 {
    font-size: 42px !important;
    color: $dark-grey;
  }
  h2 {
    text-align: left;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      color: #38A8CC;
    }
  }

  li {
    text-align: left;
    font-size: 15px;
    line-height: 26px;
    font-family: "Merriweather Sans", serif;
    margin-top: 30px;
    margin-bottom: 30px;
    a {
      color: #38A8CC;
    }
  }
}

#more-by-author {
  padding-top: 55px;
  padding-bottom: 21px;
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;

  .column.two {
    width: 80px;
  }
  .column.ten {
    float: left;
    padding-left: 30px;
  }

  h2 {
    margin-top: 25px;
  }
}

#post-text {
  max-width: 833px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e3e1df;
  padding-top: 70px;
  padding-bottom: 50px;
}

#pages {
  height: 60px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 833px;
}

nav span {
  padding-right: 5px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  a {
      color: #38A8CC;
  }
}

.pagination{
  padding-top: 15px;
}

