@import "common";

#our-work {
  margin-top:$header_height;
  #our-work-header {
    padding-bottom:8%;
    padding-top:8%;
    text-align: center;
    h3 {color:#4085D4;}
  }
  #our-work-index {
    display:block;
    margin: 0 auto;
    overflow: hidden;
    .projects-client-box {
      margin: 0 auto;

      @media (min-width: $desktop-view-size) {width: 25%;}
      @media (max-width: $mobile-view-size) {width: 33.3%;}
      float:left;
      img {
        padding:20%;
        margin-left:auto;
        margin-right:auto;
        background: #4085D4;
        width:100% ;
        height:100%;
      }
    }
  }
}

