@import "common";

#results-header {
  background-color: $grey-white;
  h1 {
    margin-top: 7%;
    padding-bottom: 5.5%;
  }
  @media (max-width:$mobile-view-size) {
    display:none;
  }
}

#our-work-text {
  margin-top:3%;
  margin-bottom:3%;
}

#recent-work {
  text-align: center;
  img {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .column.six {
    height: 300px;
    z-index: 0;
    margin-bottom:10px;
  }
  a {
    display: none;
  }
  .column:hover {
    a {
      display: inline-block;
    }
  }
}

html.touch #recent-work {
  a {
    display: inline-block !important;
  }
}

.content-box {
  height:100%;
  margin-left:5px;
  margin-right:5px;
  img {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#darken-box {
  z-index: 2;
  position: relative;
  width:100%;
  height:100%;
  margin:0px;
  background-color:rgba(0,0,0,0.7);
  &:hover {
    background-color:rgba(0,0,0,0.7);
  }
  .text {
    display:block;
    height:100%;
    width:100%;
    margin-top:120px;
    h3 {
      color: white;
    }
    h4 {
      color: white;
      font-size: 18px;
    }
  }
}

#closeoutbike {
  background-color: $closeoutbike-bg;
}

#availendar {
  background-color: $availendar-bg;
}

#mobilizeart {
  background-color: $mobilizeart-bg;
}

#gigdog {
  background-color: $gigdog-bg;
}

#greeneggs {
  background-color: $greeneggs-bg;
}

#textus {
  background-color: $textus-bg;
}

#scheduleshare {
   background-color: $scheduleshare-bg;
}

