@import "common";

#results-header {
  background-color: $grey-white;
  h1 {
    margin-top: 80px;
    padding-bottom: 62px;
  }
}

#recent-work {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 25px;

  a {
    display: none;
    position: relative;
    z-index: 3;
  }

  img {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  img.website {
    right: 248px;
    bottom: 20px;
  }

  .column.five {
    width: 400px;
    height: 300px;
    margin-bottom: 35px;
    z-index: 0;
  }

  .column:hover {
    a {
      display: inline-block;
    }
  }
}

#our-work-text {
  h4 {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 30px;
  }
}

#darken-box {
  background-color: black;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 300px;
  opacity: 0;

  h3 {
    padding-top: 100px; 
    color: #ffffff;
  }

  h4 {
    color: #f8f7f5;
    font-size: 18px;
  }
}

#darken-box:hover {
  opacity: 0.7;
}

#link-div {
  height: 100%;
  width: 100%;
}

#closeoutbike-box {
  margin-left: 150px;
  background-color: $closeoutbike-bg;
}

#availendar-box {
  margin-left: 150px;
  background-color: $availendar-bg;
}

#mobilizeart-box {
  margin-right: 150px;
  background-color: $mobilizeart-bg;
}

#gigdog-box {
  margin-left: 150px;
  background-color: $gigdog-bg;
}

#greeneggs-box {
  margin-right: 150px;
  background-color: $greeneggs-bg;
}

#textus-box {
  margin-left: 150px;
  background-color: $textus-bg;
}

#scheduleshare-box {
  margin-right: 150px;
  background-color: $scheduleshare-bg;
}

#old-site-box {
  width: 840px;
  height: 300px;
  margin-bottom: 35px;
  z-index: 0;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fbaf3f;
}