@import "common";

#our-work {

  #our-work-header {
    padding-bottom:8%;
    padding-top:8%;
    text-align: center;
    h3 {color:#4085D4;}
  }
  #our-work-index {
    display:block;
    margin: 0 auto;
    overflow: hidden;

   .projects-client-box {
     @media (min-width: $desktop-view-size) {width: 25%;}
     @media (max-width: $mobile-view-size) {width: 33.3%;}
     float:left;
     margin: 0 auto;

     a img {
       display:block;
       padding:20%;
       margin: 0 auto;
       background: #4085D4;
       width:75% ;
      }
    }
  }
}

#welcome-page-our-clients {
  display:block;
  margin:0 auto;
  width:65%;
  overflow: hidden;

  .welcome-page-client-box {
    width: 25%;
    float:left;
    margin:0 auto;

    a img {
      display:block;
      margin:0 auto;
      background: #4085D4;
      width:75% ;
    }
  }
}