@import "macros";
#welcome-page {
  h1,h2 {text-align: center}

  #welcome-page-intro {
    display:block;
    padding-top:8%;

    #tagline {
      display:block;
      width:75%;
      margin:0 auto;
      h1 {
        color: black;
      }
      h4 {
        padding-top:10px;
        text-align: center;
        font-weight: normal;
      }
    }
    #scroll-icon {
      img{
        display: block;
        padding-top: 20%;
        padding-bottom: 2%;
        margin:0 auto;
      }
    }
  }

  #blue-background-wrapper {
    background:$blue;
    padding-top:5%;
    padding-bottom:10%;

    #welcome-page-about-us {
      color:white;
      text-align: center;
      width:75%;
      margin:0 auto;
      color: #FFFFFF;
      padding-top:4%;

      @media (max-width: $mobile-view-size) {
        h6 {
          display:none;
        }
      }

      ul {
        padding-top:8%;

        li {
          display:block;
          width:33%;
          float:left;
          h5,h6 {padding: 5px 10px}
          &:nth-child(1) {
            border-right:1px solid $front-page-grid-color;
          }
          &:nth-child(3) {
            border-left:1px solid $front-page-grid-color;
          }
        }
      }
    }

    #welcome-page-our-clients {
      display:block;
      margin:0 auto;
      width:65%;
      overflow: hidden;
      padding-top:10%;

      .welcome-page-client-box {
        width: 24%;
        float:left;
        margin:0 auto;
        a img {
          display:block;
          margin:0 auto;
          background: #4085D4;
          width:75% ;
        }
        &:nth-child(1),&:nth-child(2),&:nth-child(3), &:nth-child(5), &:nth-child(6), &:nth-child(7){
          border-right:1px solid $front-page-grid-color;
          border-bottom:1px solid $front-page-grid-color;
        }
        &:nth-child(4), &:nth-child(8) {
          border-bottom:1px solid $front-page-grid-color;
        }
        &:nth-child(1),&:nth-child(9),&:nth-child(10), &:nth-child(11) {
          border-right:1px solid $front-page-grid-color;
        }
      }
    }
  }

  #digital-experience {

    background:$tan;
    display:block;
    padding-top:5%;

    #text-block {
      width:65%;
      margin:0 auto;
      text-align:center;
      h1 {
        margin:0px;
        padding-top:2%;
      }
      h4 {
        margin-top: 20px;
      }
      a {
        margin:0px;
        padding:0px;
        display:block;
      }
    }
  }
}

