= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Syncopate"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans+Mono"