%footer
  #footer-highlight
  %section#contact
    %h3 Only one thing left to do. Contact us using your preferred method below.
    %section#email
      #coshx-telephone
        %strong
          Tel:
        123-456-7890
      #coshx-fax
        %strong
          Fax:
        234-567-8901
      #coshx-email
        %strong
          Email:
        %span#email=link_to "info@coshx.com", "mailto:info@coshx.com"
    %section#charlottesville
      %h4 Charlottesville
      %span#street-1 1110 Market Street East
      %span#street-2 Suite N7
      %span#city-state-zip Charlottesville, VA 22903
    %section#boulder
      %h4 Boulder
      %span#street-1 3080 Valmont Road
      %span#street-2 Suite 280
      %span#city-state-zip Boulder, CO 80301
    %section#considering-coshx
      .considering-text
        Considering Coshx for your next project?
      .considering-link
        .button-link
          Get a proposal
