%footer.clearfix
  #footer-nav
    %a{:href => "#"}
      = image_tag "footer_top_nav.png"
  %section#footer-content.w960.clearfix
    %h2 Latest blog posts
    #latest-blogs.divider
      .post.david
        .info
          = image_tag "kovsky.png"
          %span
            %a{:href => "#"} David Kovsky
            April 9, 2012
        .content
          %h2
            %a{:href => "#"} Removing Technical Debt
          %p
            I had a great time at the Mile High Agile 2012 conference.
            I thoroughly enjoyed and learned from every talk and heard almost 100% positive reviews of all the talks I missed out on in the other tracks.
            Many thanks to all who were involved in making it happen. I'll definitely be back next year.
          .links
            %a.read-more{:href => "#"} Read more
            |
            %a.comments{:href => "#"} Comments 1
      .post.ryan
        .info
          = image_tag "ryan.png"
          %span
            %a{:href => "#"} Ryan Ahearn
            April 9, 2012
        .content
          %h2
            %a{:href => "#"} Polymorphic Associations and validate_uniqueness_of
          %p
            One of my favorite helper libraries when testing is
            %a{:href => "#"} thoughtbot's shoulda-matchers
            \. They do a great job making common situations easy to test in one line, but I recently ran into a gotcha with the validate_uniqueness_of matcher.
            Validating both uniqueness of a polymorphic association and another validation on the same association can cause some strange error messages regarding undefined classes due to the way scoping and validations are handled.
          .links
            %a{:href => "#"} Read more
            |
            %a{:href => "#"} Comments 1
  #footer-tweet.divider
    %p
      Check out David Kovsky's blog post on
      %a{:href => "#"} http://coshx.com/blog
      about "Removing Technical Debt"
    %a.dark-blue-arrow{:href => "#"} Follow us
  %h2.contact-heading ONLY ONE THING LEFT TO DO. CONTACT US USING YOUR PREFERRED METHOD BELOW.
  #contact-details.divider
    .col1
      %strong Tel:
      007-042-1408
      %br/
      %strong Fax:
      007-042-1409
      %br/
      %strong Email:
      %a#contact-email{:href => "#"} info@cosxh.com
      %br/
    .col2
      %strong Charlottesville
      %br/
      1110 Market Street East
      %br/
      Suite N7
      %br/
      Charlottesville, VA 22903
    .col3
      %strong Boulder
      %br/
      3080 Valmont Road
      %br/
      Suite 280
      %br/
      Boulder
      %br/
      CO 80301
    .col4
      CONSIDERING COSHX FOR
      %br/
      YOUR NEXT PROJECT?
      %a.blue-arrow{:href => "#"} Get a proposal
  .footer-bottom
    %span.copy Copyright © 2012 CoshxLabs. All rights reserved
    \•
    %span.links
      %a{:href => root_path} Home
      |
      %a{:href => about_path} About
      |
      %a{:href => portfolio_path} Projects
      |
      %a{:href => services_path} Services
      |
      %a{:href => "#"} Contact
