%footer
  %section#blog
    #blog-return-arrow
      ▲
    %span.section-title
      .blog-icon
      Latest Blog Posts
    .section-content
      -# load the two most recent blog entries and display here
      %article.blog-post
        .author
          .author-image
            \:)
          .author-name
            David Kovsky
          .author-date
            April 9, 2012
        .blog-post-content
          %header.blog-title
            Removing Technical Debt
          .blog-body
            I had a great time at the Mile High Agile 2012...
        %footer.blog-footer
          .read-more
            %a.read-more{:href => "#"}
              Read More
            |
            %a.comments{:href => "#"}
              Comments: 1

      %article.blog-post
        .author
          .author-image
            \:)
          .author-name
            Ryan Ahearn
          .author-date
            April 6, 2012
        .blog-post-content
          %header.blog-title
            Polymorphic Associations and validate_uniqueness_of
          .blog-body
            One of my favorite helper libraries when testing is...
        %footer.blog-footer
          .read-more
            %a.read-more{:href => "#"}
              Read More
            |
            %a.comments{:href => "#"}
              Comments: 2

    #twitter-feed
      .twitter-bird
        chirp
      .angle-flash
        >
      #latest-tweet
        Checkout David Kovsky's blog post on...
      .follow-us
        .button-link
          Follow us

    .client-logo
      ABC Corp
    .client-logo
      SomethingCo
    .client-logo
      Hot Startup
    .client-logo
      Cool Startup
    .client-logo
      MegaCorpDeluxe


  #footer-highlight
  %section#contact
    %h3 Only one thing left to do. Contact us using your preferred method below.
    %section#email
      #coshx-telephone
        %strong
          Tel:
        123-456-7890
      #coshx-fax
        %strong
          Fax:
        234-567-8901
      #coshx-email
        %strong
          Email:
        %span#email=link_to "info@coshx.com", "mailto:info@coshx.com"
    %section#charlottesville
      %h4 Charlottesville
      %span#street-1 1110 Market Street East
      %span#street-2 Suite N7
      %span#city-state-zip Charlottesville, VA 22903
    %section#boulder
      %h4 Boulder
      %span#street-1 3080 Valmont Road
      %span#street-2 Suite 280
      %span#city-state-zip Boulder, CO 80301
    %section#considering-coshx
      .considering-text
        Considering Coshx for your next project?
      .considering-link
        .button-link
          Get a proposal
