#header-content

  .column
    #logo
      %a{href: root_path}

  %nav
    %ul#main-nav
      // = tab_to "HOME", root_path,
      =render "layouts/menu_tabs"
    .burger
      .patty

//=render 'jobs/jobs'