#header-content.row

  .column
    = link_to image_tag("logo.png"), root_path

  %nav
    %ul#main-nav
      // = tab_to "HOME", root_path,
      =render "layouts/menu_tabs"
    .burger
      .patty

//=render 'jobs/jobs'