%header
  %h1=link_to "coshx", :root, :id => "logo"
  %nav#main
    %ul
      %li=link_to "services", :services
      %li=link_to "portfolio", :portfolio
      %li=link_to "about", :about
      %li=link_to "blog", :posts
