%article#together.body
  .row
    %h3 We are a distributed team of superheroes.
    #work-together.column.twelve{"data-no-turbolink" => true}
      = link_to "let's work together", contact_path(:anchor => "request"), :id => "lets-work-together", :class => "btn blue small"