%article#together
  .row
    .column.eight
      %h3 We are a distributed team of superheroes.
    #work-together.column.four
      = button_to "let's work together", contact_path(:anchor => "request"), :class => "btn blue center top-margin-small", :method => :get