%article#together.body
  .row
    .column.eight
      %h3 We are a distributed team of superheroes.
    #work-together.column.four
      = link_to "let's work together", contact_path(:anchor => "request"), :id => "lets-work-together", :class => "btn blue center top-margin-small", :method => :get
