#feature-content
  #title
    %h1.fit-title Radically Transparent Web and Mobile Development

    .scroll-arrow
      = image_tag "scroll_arrow.png"

%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
%script{src: "http://code.jquery.com/ui/1.10.0/jquery-ui.js"}
:javascript
  // fittext.js plugin
  (function($){
    $.fn.fitText = function(kompressor, options){
      var compressor = kompressor || 1,
          settings = $.extend({
            'minFontSize' : Number.NEGATIVE_INFINITY,
            'maxFontSize' : 90 //Number.POSITIVE_INFINITY
          }, options);

      return this.each(function(){
        var $this = $(this);
        var resizer = function () {
          $this.css('font-size', Math.max(Math.min($this.width() / (compressor*10), parseFloat(settings.maxFontSize)), parseFloat(settings.minFontSize)));
        };
        resizer();
        $(window).on('resize orientationchange', resizer);
      });
    };
  })( jQuery );
:javascript
  $(".fit-title").fitText(1, {minFontSize: '30px'});

  // set the vertical height on resize as well to keep things centered
  $(document).ready(function() {
    var topOffset = 370;

    $("#title").css("top", (window.innerHeight - topOffset) / 2);

    $(window).on("resize orientationchange", function() {
      $("#title").css("top", (window.innerHeight - topOffset) / 2);
    });
  });

