!!! 5
%html
  %head
    %title Coshx Labs
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #canvas
      #header
      #content
        = yield
      #footer