!!! 5
%html
  %head
    %title Coshx Labs
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#canvas
      %section#header
        %h1=link_to "coshx", :root, :id => "logo"
      #spacer
      %section#content
        = yield
      %section#footer